#jsg-usersearch {
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;
}

#jsg-usersearch-submit {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    color: #ffffff;
    background-color: #263849;
    background-image: -moz-linear-gradient(top, #3C4C5B, #263849);
    background-image: -ms-linear-gradient(top, #3C4C5B, #263849);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3C4C5B), to(#263849));
    background-image: -webkit-linear-gradient(top, #3C4C5B, #263849);
    background-image: -o-linear-gradient(top, #3C4C5B, #263849);
    background-image: linear-gradient(top, #3C4C5B, #263849);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3C4C5B', endColorstr='#263849', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}

#jsg-usersearch-submit:hover {
    background-color: #1e5799;
    background-image: -moz-linear-gradient(top, #1e5799, #7db9e8);
    background-image: -ms-linear-gradient(top, #1e5799, #7db9e8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1e5799), to(#7db9e8));
    background-image: -webkit-linear-gradient(top, #1e5799, #7db9e8);
    background-image: -o-linear-gradient(top, #1e5799, #7db9e8);
    background-image: linear-gradient(top, #1e5799, #7db9e8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#7db9e8', GradientType=0);
    border-color: #684682 #263849 #263849 #684682;
    border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25);
}
