#jsg-options-menu {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 hsla(80, 90%, 40%, 0.7);
    border-color: hsla(80, 90%, 40%, 0.5);
    border-image: none;
    border-radius: 5px;
    border-style: none none none none;
    border-width: medium;
    box-shadow: 0 1px 3px black;
    color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 5;
}

#jsg-options-menu:hover {
    background: none repeat scroll 0 0 hsla(200, 70%, 40%, 0.7);
    border-color: hsla(200, 70%, 40%, 0.5);
}

#jsg-options-modal-button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: #fff;
    position: absolute;
}

#jsg-options-icon {
    width: 40px;
    height: 40px;
}

#jsg-options-modal {
    display: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 hsla(80, 90%, 40%, 0.8);
    border-color: hsla(80, 90%, 40%, 0.6);
    border-image: none;
    border-radius: 5px;
    border-style: none none none none;
    border-width: medium;
    box-shadow: 0 1px 3px black;
    color: white;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 50%;
    width: 200px;
    height: 200px;
    z-index: 5;
}

#jsg-options-modal:hover {
    background: none repeat scroll 0 0 hsla(200, 70%, 40%, 0.8);
    border-color: hsla(200, 70%, 40%, 0.6) -moz-use-text-color hsla(200, 70%, 40%, 0.6) hsla(200, 70%, 40%, 0.6);
}

#jsg-options-modal-title {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    width: 190px;
    text-align: center;
    height: 20px;
    border-bottom: 2px solid #ffffff;
    padding: 5px;
    margin: 0;
}

.jsg-options-checkbox {
    display: table-cell;
    height: 20px;
    margin-left: 3px;
    margin-right: 3px;
}

.jsg-options-checkbox-text {
    display: table-cell;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    vertical-align: top;
}

.jsg-options-checkbox-container {
    display: table-row;
    height: 20px;
    vertical-align: top;
}

.jsg-options-select {
    margin-right: 10px;
}
