.link-block-smedium a, .link-block-smedium > div {
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}

#sidebar-user-favorites a {
    height: 25px;
    line-height: 25px;
    padding-left: 15px;
}

#sidebar-user-favorites nav > .category {
    padding: 1px 0 0 10px;
    overflow: hidden;
}

#sidebar-forum {
    width: 230px;
}

#forum-wrap {
    width: 690px;
}

#forum-chat {
    width: 680px;
}

#forum-wrap .forums-block > .forums-list .col1, #forum-wrap .forums-block > .forums-list .col2, #forum-wrap .forums-block > .forums-list .col3, #forum-wrap .forums-block > .forums-list .col4 {
    height: 27px;
    line-height: 31px;
    overflow: hidden;
}
