#forum-chat > .main-window {
    width: 75%;
}

#forum-chat > .online-wrap {
    width: 24%;
}

.jsg-hekked-ban, .jsg-hekked-mod, .jsg-cset-mod {
    text-decoration: none;
}

.jsg-hekked-ban.jsg-cset-ban {
    color: #990000;
    margin-left: 2px;
    margin-right: 3px;
}

.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff0000;
}

.jsg-hekked-ban.jsg-cset-ban:hover {
    color: #ff9933;
    text-decoration: none;
}

.jsg-cset-mod {
    color: #61a2d1;
    margin-left: 2px;
    margin-right: 3px;
}

.jsg-cset-mod:hover {
    color: #46b8da;
}

.jsg-athuzott {
    text-decoration: line-through;
    color: #660000;
}

.jsg-athuzott:hover {
    text-decoration: line-through;
    color: #FF0000;
}

#jsg-lastusers {
    width: 100%;
}

#jsg-lastusers tbody {
    width: 100%;
}

#jsg-lastusers tr {
    width: 100%;
}

#jsg-lastusers td {
    max-width: 200px;
    overflow: auto;
    padding: 2px 5px;
    word-wrap: break-word;
}

#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #555;
}

#jsg-lastusers .jsg-lastusers-thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#jsg-last-seen {
    border-bottom: 1px solid #ff0000;
}

.jsg-bannolt {
    background: none repeat scroll 0 0 #ffeecc;
}

.jsg-red {
    color: #ff0000;
}

.jsg-orange {
    color: #FE9A2E;
}

.jsg-bold {
    font-weight: bold;
}

#jsg-lista {
    background: none repeat scroll 0 0 #fdfdfd;
    right: 0px;
    top: 0px;
    position: absolute;
    padding: 5px;
    max-height: 700px;
    overflow-y: scroll;
    z-index: 100;
}

#jsg-lista tr:hover {
    background: #ffffcc;
}

#jsg-lista td {
    padding: 1px 7px;
}

.jsg-tded {
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-left-width: 0;
    border-top-width: 0;
    border-collapse: collapse;
    border-image: none;
    border-radius: 0 !important;
    clear: both;
}

.jsg-csetname-old {
    float: left;
    max-width: 100px;
    overflow: hidden;
    /*font-size: 14px;*/
}

.jsg-csetname {
    float: left;
    /*font-size: 14px;*/
}

.jsg-csetfunc {
    width: 40px;
    float: right;
    display: inline-table;
    text-align: right;
    font-size: 11px;
}

.jsg-ip {
    float: right;
    margin-left: 10px;
    width: 100px;
}

#jsg-lista .jsg-csetname-old {
    max-width: none;
    /*font-size: 11px;*/
}

#forum-chat > .online-wrap li {
    overflow: auto;
    padding-left: 2px;
}

#forum-chat > .online-wrap li:before {
    content: "";
}

#forum-chat-user-list {
    /*font-size: 11px;*/
}

#jsg-lastusers tr.red td:nth-child(3) {
    font-weight: bold;
}