$turquoise: #1abc9c
$greensea: #16a085
$emerald: #2ecc71
$nephritis: #27ae60
$peterriver: #3498db
$belizehole: #2980b9
$amethyst: #9b59b6
$wisteria: #8e44ad
$wetasphalt: #34495e
$midnightblue: #2c3e50
$sunflower: #f1c40f
$orange: #f39c12
$carrot: #e67e22
$pumpkin: #d35400
$alizarin: #e74c3c
$pomegranate: #c0392b
$clouds: #ecf0f1
$silver: #bdc3c7
$concrete: #95a5a6
$asbestos: #7f8c8d

$sg: #1eb8e4
$darkbg: #555
$brighttxt: #fafafa

$box-shadow-2dp: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12)

a
    color: $brighttxt

    &:hover
        color: $brighttxt

*
    border-color: #333 !important

#sgcset-header a.righthead
    padding: 11px 15px 10px 15px

.unread
    background: rgba(255, 255, 255, .05) !important

.unread:first-of-type
    border-top: 1px solid #ff0000 !important

::-webkit-scrollbar
    width: 8px

::-webkit-scrollbar-track
    border: 0
    background-color: rgba(0, 0, 0, .2)

::-webkit-scrollbar-thumb
    background-color: rgba(0, 0, 0, .4)
    border-radius: 0

    &:hover
        background-color: rgba(0, 0, 0, .6)

html
    font-family: 'Roboto', 'Helvetica', sans-serif
    
    body
        background-color: #333 !important
        background-image: none !important
        color: $brighttxt
        line-height: 17px

        .modal-cont
            background-color: $darkbg

            .modal-close
                color: $brighttxt

            .options,
            .extras
                background-color: none
                
                h3
                    border-color: $brighttxt !important

                h3,
                h4,
                > .row,
                .row > div
                    color: $brighttxt

                input
                    color: $darkbg

                    &:hover
                        color: $darkbg
                        background-color: rgba($brighttxt, .4)

                .separator
                    background-color: $brighttxt

        .qtip
            .chat_prev_title
                font-weight: 700
                padding: 10px
                line-height: 20px
                font-size: 13px

            .chat_prev_desc
                padding: 10px
                line-height: 16px
                font-size: 14px

        #header,
        #content
            margin: initial

        .material_separator
            height: 8px

        #header
            #header-bottom
                background-color: $sg
                border: 0
                height: 37px

                #menu-heading
                    a
                        padding: 10px
                        margin: 0
                        color: white
                        
                        &:hover
                            border-bottom: 0
                            color: $sg
                            background-color: white

                        &:first-child
                            margin-left: 16px

                form
                    margin: 6px 8px 0 0

                    #search-top-filter
                        right: 0

        #layout_container
            #main
                #grid
                    #content
                        border: 0 !important
                        margin: 8px
                        box-shadow: none !important
                        background-color: transparent !important
                        
                        #sgcset-header
                            background-color: $darkbg
                            margin-bottom: 8px
                            box-shadow: $box-shadow-2dp

                            .sgneojonny
                                padding: 0 0 0 25px
                                margin: 0
                                font-size: 14px
                                line-height: 39px

                            a
                                color: $emerald
                                background-color: transparent

                                &:hover
                                    background-color: $emerald
                                    color: $brighttxt

                                &.logs
                                    .badge
                                        border-radius: 10px
                                        left: 23px

                                &.lefthead
                                    color: $sg

                                    &:hover
                                        background-color: transparent
                                        color: $sg
                        
                        #forum-wrap
                            width: 100%
                            background-color: transparent
                            padding-bottom: 20px

                            #forum-chat
                                width: auto
                                background-color: $darkbg

                                .main-window
                                    width: 100%
                                    height: 550px

                                    #list-frame
                                        #threadModalLink
                                            #currentThread
                                                background: #666
                                                color: $brighttxt


                                        #forum-chat-list
                                            li
                                                iframe
                                                    width: initial

                                                time,
                                                .msg
                                                    color: $brighttxt

                                #inputs
                                    margin: 5px 1px 1px 1px

                                    #input_cont
                                        input
                                            width: calc(100% - 10px - (5 * 28px) - 10px - 56px - 7px)
                                            background-color: $darkbg
                                            color: $brighttxt

                                        #spoilerButton,
                                        #songButton
                                            padding: 5px 1px

                                        #gifButton
                                            border-left: 1px solid #1da2c8

                                        button
                                            color: $brighttxt

                                        span
                                            i
                                                color: $brighttxt
                                            
                                            &:hover
                                                background-color: rgba($brighttxt, .4)

                                                i
                                                    color: $darkbg



                            .blue-border-top
                                display: none

                            #breadcrumb
                                #currentlyWriting
                                    #eppenGepelnek
                                        margin: 0 0 5px 10px
                                        padding-top: 6px
                                        color: $brighttxt

                                    #currents
                                        width: 75%
                                        margin: 2px 0 0 10px

                                        span
                                            margin: 2px
                                            color: $brighttxt
                                            border-color: $darkbg !important
                                            background-color: $darkbg

                                #modStatus
                                    margin-top: 6px

                            #forum-block-wrapper-button
                                margin: 16px 0 0 0
                                background-color: $wetasphalt
                                border: 0 !important
                                box-shadow: $box-shadow-2dp
                                color: white !important
                                height: 30px
                                line-height: 30px
                                color: $brighttxt

                            #forums-block-wrapper
                                background-color: $darkbg
                                padding: 10px 0
                                margin-top: 8px
                                box-shadow: $box-shadow-2dp

                                .forums-block
                                    margin: 0 auto

                                    header
                                        padding: 15px 25px 12px 10px
                                        background: #444

                                        .col1,
                                        .col2,
                                        .col3
                                            color: $brighttxt

                                    ul
                                        li
                                            a
                                                .col1,
                                                .col2,
                                                .col3   
                                                    color: $brighttxt

                    .online-wrap
                        header
                            border: 0 !important
                            font-size: 14px
                            color: white
                            background: none repeat scroll 0 0 $carrot
                            padding: 10px
                            text-align: center
                            margin-bottom: 8px

                        .online-list
                            padding: 10px
                            background-color: $darkbg

                            ul#forum-chat-user-list
                                font-size: 11px
                                line-height: 14px

                                li
                                    a
                                        height: initial
                                        
                                        &.hangszoro
                                            float: left

                                        &.hangszoro,
                                        &.chatname
                                            color: $brighttxt

                                        &.chatname
                                            display: inline-block
                                            width: calc(100% - 18px - 47px - 18px - 18px)
                                            white-space: nowrap
                                            overflow: hidden
                                            text-overflow: ellipsis
                                    .age
                                        color: $brighttxt

                        

                    #asidebar
                        #neosidebar
                            // display: none
                            position: initial
                            width: 100%
                            overflow-x: initial
                            background: transparent

                            #sidebar-user
                                margin-bottom: 8px
                                border-top: 0

                                .user-hello
                                    box-shadow: $box-shadow-2dp
                                    margin-bottom: 8px
                                    background: none repeat scroll 0 0 $midnightblue
                                    border: 0 important

                                nav > a
                                    background-color: $darkbg
                                    color: $brighttxt

                                    &:hover
                                        z-index: 99999
                                        color: $brighttxt
                                        box-shadow: $box-shadow-2dp

                                    &:after
                                        content: "+"
                                        background: none
                                        font-size: 12px
                                        margin: 0
                                        height: 20px
                                        width: 20px
                                        text-align: center
                                        line-height: 20px
                                        margin-top: -10px
                                        background-color: $belizehole
                                        border-radius: 10px
                                        right: 5px
                                        color: white

                            #sidebar-user-favorites
                                margin: 0
                                margin-top: -16px
                                margin-bottom: 16px

                                h4
                                    padding: 0
                                    margin: 0 0 8px 0
                                    border: 0
                                    height: 60px

                                    #favorites-open-close-button
                                        #icon
                                            margin: 0
                                            border: 0
                                            font-size: 14px
                                            color: white
                                            background: none repeat scroll 0 0 $amethyst
                                            padding: 10px
                                            text-align: center
                                            box-shadow: $box-shadow-2dp

                                            &:after
                                                float: initial
                                                margin-right: 0
                                                margin-left: 5px

                                nav
                                    span > a
                                        background-color: $darkbg
                                        color: $brighttxt

                                        &:hover
                                            // miért nem jó a z-index bazzeg?
                                            overflow-y: initial
                                            z-index: 99999
                                            color: $brighttxt
                                            box-shadow: $box-shadow-2dp

                                    a.category
                                        border-top: 0
                                        margin-top: 4px
                                        color: $brighttxt
                                        background-color: $darkbg

                                        &:first-child
                                            margin-top: 0

                            .forum-topics-block
                                section
                                    header
                                        border: 0
                                        font-size: 14px
                                        color: white
                                        // background: none repeat scroll 0 0 $sg
                                        padding: 10px
                                        text-align: center
                                        margin-bottom: 8px
                                        box-shadow: $box-shadow-2dp

                                        #plus_minus_icon
                                            display: none

                                    &:first-child
                                        header
                                            background: none repeat scroll 0 0 $alizarin

                                    &:last-child
                                        header
                                            background: none repeat scroll 0 0 $greensea

                                    ul
                                        background-color: $darkbg
                                        
                                        li
                                            a
                                                color: $brighttxt

                                                &:hover
                                                    background-color: $darkbg
                                                    color: $brighttxt
                                                    z-index: 99999
                                                    box-shadow: $box-shadow-2dp

                                                &:after
                                                    display: none

                            #sidebar-birthday
                                h4
                                    border: 0
                                    font-size: 14px
                                    color: white
                                    background: none repeat scroll 0 0 $sunflower
                                    padding: 10px
                                    text-align: center
                                    margin-bottom: 8px
                                    box-shadow: $box-shadow-2dp

                                    #plus_minus_icon
                                        display: none

                                #birthday-wrap
                                    a
                                        color: $brighttxt
                                        background-color: $darkbg
                                        border: 0 !important


                                