
#jsg-utolso-regisztraltak {
    width: 900px;
    background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #aaa;
    margin: 5px auto !important;
}

#jsg-utolso-regisztraltak ul {
    margin-bottom: 0;
}

#jsg-lastusers td {
    min-width: 150px !important;
    text-align: center;
    max-width: 290px !important;
}

.jsg-csetfunc {
    width: 40px;
    float: right;
    display: inline-table;
    text-align: right;
    font-size: 11px;
}



.jsg-hekked-ban, .jsg-hekked-mod, .jsg-cset-mod {
    text-decoration: none;
}

.jsg-hekked-ban.jsg-cset-ban {
    color: #990000;
    margin-left: 2px;
    margin-right: 3px;
}

.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff0000;
}

.jsg-hekked-ban.jsg-cset-ban:hover {
    color: #ff9933;
    text-decoration: none;
}

.jsg-cset-mod {
    color: #61a2d1;
    margin-left: 2px;
    margin-right: 3px;
}

.jsg-cset-mod:hover {
    color: #46b8da;
}

.jsg-athuzott {
    text-decoration: line-through;
    color: #660000;
}

.jsg-athuzott:hover {
    text-decoration: line-through;
    color: #FF0000;
}


#jsg-lastusers {
    width: 100%;
}

#jsg-lastusers tbody {
    width: 100%;
}

#jsg-lastusers tr {
    width: 100%;
}

#jsg-lastusers td {
    max-width: 200px;
    overflow: auto;
    padding: 2px 5px;
    word-wrap: break-word;
}

#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #555;
    cursor: pointer;
}

#jsg-lastusers .jsg-lastusers-thead th {
    padding-top: 5px;
    padding-bottom: 5px;
}

#jsg-last-seen {
    border-bottom: 1px solid #ff0000 !important;
}

.jsg-bannolt {
    background: none repeat scroll 0 0 #ffeecc;
}

.jsg-red {
    color: #ff0000;
}

.jsg-orange {
    color: #FE9A2E;
}

.jsg-bold {
    font-weight: bold;
}

#newip {
    background: #fff !important;
    width: 120px;
    color: #333;
    border: 1px solid rgba(29, 162, 200, .5);
}

#ip_save_button {
    font-size: 12px;
    width: 124px;
    height: 18px;
    display: inline-block;
    border: 1px solid rgba(29, 162, 200, .5);
    background-color: #f1f1f1;
    color: #1DA2C8;
}

#ip_save_button:hover {
    color: #333;
    border: 1px solid #333;
}

.options.center {
    text-align: center;
    /*
    min-height: 400px;
    overflow-y: auto;
    */
}

#iplist {
    /*background: #fff;*/
    margin: 0 auto;
    display: inline-block;
    text-align: left;
}

/*
 * Spinner
 */

#ipwait.spinner {
    margin: 0 auto;
    width: 90px;
    text-align: center;
}

#ipwait.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #1DA2C8;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#ipwait.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#ipwait.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin: 0 10px;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}