*{
    color: #B8B876;
    border-color: #B8B876;
}

/* hatter */
html {
    background-color: #4B5320 !important;
}

html {
    background-attachment: fixed !important;
}

body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/* altalanos cuccok */
input {
    background: none !important;
    color: #fdfdfd;
}
h2.sgneojonny{
    color: #B8B876;
}

div.options {
    background-color: rgba(83, 66, 32, .2);
}

h3.title {
    color: #B8B876;
    border-color: #B8B876;
}

.options_chat_label{
    color: #B8B876;
}

#options_save_button{
    color: #B8B876;
    border-color: #B8B876;
}

#options_save_button:hover{
    color: #fff;
    background-color: #B8B876;
}

input[type="checkbox"] + i{
    color: #B8B876;
}

.separator {
    background-color: #B8B876;
}

#forum-wrap .forums-block .col1, #forum-wrap .forums-block .col2, #forum-wrap .forums-block .col3, #forum-wrap .forums-block .col4 {
    color: #B8B876;
}

#sgcset-header a, #sidebar-user a, #sidebar-user-favorites a {
    background: none !important;
}
#breadcrumb, .headers-medium {
    color: #aaa;
}

/* sidebar */
#neosidebar {
    background: rgba(83, 66, 32, .5) !important;
    color: #ddd;
}
#sidebar-user a:hover, #sidebar-user-favorites a:hover {
    background: #000 !important;
}
.headers-medium, #sidebar-user-favorites #favorites-open-close-button #icon {
    background: rgba(83, 66, 32, .6) !important;
    border: none !important;
    color: #B8B876 !important;
}
#sidebar-user header,
#sgcset-lista header {
    background-color: rgba(83, 66, 32, .6);
    color: #B8B876 !important;
}

.blue-border-top {
    border-color: #B8B876;
}

.jsg-cset-mod{
    color: #B8B876;
}

/* chat resz */
#content {
    background: rgba(83, 66, 32, .5) !important;
    color: #ddd;
    border-color: #B8B876;
}
a.favorite,
#tema_karbantartasa a{
    color: #B8B876;
}
.unread {
    background: rgba(0,0,0,.25) !important;
}
.online-wrap li {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
#sgcset-lista {
    background: rgba(83, 66, 32, .5) !important;
    color: #ddd !important;
}
#sgcset-lista header {
    background: none repeat scroll 0 0 rgba(83, 66, 32, .6);
    color: #B8B876;
}
.gender_n {
    color: #ff99ff;
}

#forum-chat .main-window a {
    color: #7A5E42;
    font-weight: bold;
}

#forum-chat > #forum-chat-input{
    color: #B8B876;
}

#forum-chat > .main-window,
#forum-chat > #forum-chat-input,
#forum-chat > #forum-chat-send-message {
    border-color: #B8B876;
}

#forum-chat > #forum-chat-send-message{
    color: #B8B876;
}
#forum-chat > #forum-chat-send-message:hover{
    background: #B8B876;
}

/* mod cuccok */
.jsg-bannolt {
    color: #333;
}
.jsg-hekked-ban.jsg-cset-ban {
    color: #997722;
}
.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff3333;
}
#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #aaa;
}
.jsg-bannolt {
    background: rgba(229, 42, 40, 0.15);
    color: #ddd;
}
.jsg-athuzott {
    color: #997722;
}
#jsg-lastusers .jsg-lastusers-thead {
    background: rgba(29, 162, 200, 0.1);
    border-bottom: 1px solid #aaa;
}

#sgcset-header{
    background-color: rgba(83, 66, 32, .6);
}

#currentThread {
    background: #333 !important;
}

#birthday-wrap a {
    color: #fff;
}

.chatOpsystem.phone:before {
    color: #ddd;
}
.chatOpsystem.phone:hover:before {
    color: #ddd;
}
.chatOpsystem.linux:before {
    color: #fff;
}
.chatOpsystem.linux:hover:before {
    color: #fff;
}