a {
  color: #fafafa; }
  a:hover {
    color: #fafafa; }

* {
  border-color: #333 !important; }

#sgcset-header a.righthead {
  padding: 11px 15px 10px 15px; }

.unread {
  background: rgba(255, 255, 255, 0.05) !important; }

.unread:first-of-type {
  border-top: 1px solid #ff0000 !important; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  border: 0;
  background-color: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0; }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6); }

#forum-chat .main-window a {
  color: #5accec;
}

  #currentThread {
    background: #757575;
    color: #c2f2fb;
  }

  #gif_search {
    color: #ddd;
  }

html {
  font-family: "Roboto", "Helvetica", sans-serif; }
  html body {
    background-color: #333 !important;
    background-image: none !important;
    color: #fafafa;
    line-height: 17px; }
    html body .modal-cont {
      background-color: #555; }
      html body .modal-cont .modal-close {
        color: #fafafa; }
      html body .modal-cont .options,
      html body .modal-cont .extras {
        background-color: none; }
        html body .modal-cont .options h3,
        html body .modal-cont .extras h3 {
          border-color: #fafafa !important; }
        html body .modal-cont .options h3,
        html body .modal-cont .options h4,
        html body .modal-cont .options > .row,
        html body .modal-cont .options .row > div,
        html body .modal-cont .extras h3,
        html body .modal-cont .extras h4,
        html body .modal-cont .extras > .row,
        html body .modal-cont .extras .row > div {
          color: #fafafa; }
        html body .modal-cont .options input,
        html body .modal-cont .extras input {
          color: #555; }
          html body .modal-cont .options input:hover,
          html body .modal-cont .extras input:hover {
            color: #555;
            background-color: rgba(250, 250, 250, 0.4); }
        html body .modal-cont .options .separator,
        html body .modal-cont .extras .separator {
          background-color: #fafafa; }
    html body .qtip .chat_prev_title {
      font-weight: 700;
      padding: 10px;
      line-height: 20px;
      font-size: 13px; }
    html body .qtip .chat_prev_desc {
      padding: 10px;
      line-height: 16px;
      font-size: 14px; }
    html body #header,
    html body #content {
      margin: initial; }
    html body .material_separator {
      height: 8px; }
    html body #header #header-bottom {
      background-color: #1eb8e4;
      border: 0;
      height: 37px; }
      html body #header #header-bottom #menu-heading a {
        padding: 10px;
        margin: 0;
        color: white; }
        html body #header #header-bottom #menu-heading a:hover {
          border-bottom: 0;
          color: #1eb8e4;
          background-color: white; }
        html body #header #header-bottom #menu-heading a:first-child {
          margin-left: 16px; }
      html body #header #header-bottom form {
        margin: 6px 8px 0 0; }
        html body #header #header-bottom form #search-top-filter {
          right: 0; }
    html body #layout_container #main #grid #content {
      border: 0 !important;
      margin: 8px;
      box-shadow: none !important;
      background-color: transparent !important; }
      html body #layout_container #main #grid #content #sgcset-header {
        background-color: #555;
        margin-bottom: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
        html body #layout_container #main #grid #content #sgcset-header .sgneojonny {
          padding: 0 0 0 25px;
          margin: 0;
          font-size: 14px;
          line-height: 39px; }
        html body #layout_container #main #grid #content #sgcset-header a {
          color: #2ecc71;
          background-color: transparent; }
          html body #layout_container #main #grid #content #sgcset-header a:hover {
            background-color: #2ecc71;
            color: #fafafa; }
          html body #layout_container #main #grid #content #sgcset-header a.logs .badge {
            border-radius: 10px;
            left: 23px; }
          html body #layout_container #main #grid #content #sgcset-header a.lefthead {
            color: #1eb8e4; }
            html body #layout_container #main #grid #content #sgcset-header a.lefthead:hover {
              background-color: transparent;
              color: #1eb8e4; }
      html body #layout_container #main #grid #content #forum-wrap {
        width: 100%;
        background-color: transparent;
        padding-bottom: 20px; }
        html body #layout_container #main #grid #content #forum-wrap #forum-chat {
          width: auto;
          background-color: #555; }
          html body #layout_container #main #grid #content #forum-wrap #forum-chat .main-window {
            width: 100%;
            height: 550px; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat .main-window #list-frame #threadModalLink #currentThread {
              background: #666;
              color: #fafafa; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat .main-window #list-frame #forum-chat-list li iframe {
              width: initial; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat .main-window #list-frame #forum-chat-list li time,
            html body #layout_container #main #grid #content #forum-wrap #forum-chat .main-window #list-frame #forum-chat-list li .msg {
              color: #fafafa; }
          html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs {
            margin: 5px 1px 1px 1px; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont input {
              width: calc(100% - 10px - (5 * 28px) - 10px - 56px - 7px);
              background-color: #555;
              color: #fafafa; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont #spoilerButton,
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont #songButton {
              padding: 5px 1px; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont #gifButton {
              border-left: 1px solid #1da2c8; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont button {
              color: #fafafa; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont span i {
              color: #fafafa; }
            html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont span:hover {
              background-color: rgba(250, 250, 250, 0.4); }
              html body #layout_container #main #grid #content #forum-wrap #forum-chat #inputs #input_cont span:hover i {
                color: #555; }
        html body #layout_container #main #grid #content #forum-wrap .blue-border-top {
          display: none; }
        html body #layout_container #main #grid #content #forum-wrap #breadcrumb #currentlyWriting #eppenGepelnek {
          margin: 0 0 5px 10px;
          padding-top: 6px;
          color: #fafafa; }
        html body #layout_container #main #grid #content #forum-wrap #breadcrumb #currentlyWriting #currents {
          width: 75%;
          margin: 2px 0 0 10px; }
          html body #layout_container #main #grid #content #forum-wrap #breadcrumb #currentlyWriting #currents span {
            margin: 2px;
            color: #fafafa;
            border-color: #555 !important;
            background-color: #555; }
        html body #layout_container #main #grid #content #forum-wrap #breadcrumb #modStatus {
          margin-top: 6px; }
        html body #layout_container #main #grid #content #forum-wrap #forum-block-wrapper-button {
          margin: 16px 0 0 0;
          background-color: #34495e;
          border: 0 !important;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          color: white !important;
          height: 30px;
          line-height: 30px;
          color: #fafafa; }
        html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper {
          background-color: #555;
          padding: 10px 0;
          margin-top: 8px;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
          html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block {
            margin: 0 auto; }
            html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block header {
              padding: 15px 25px 12px 10px;
              background: #444; }
              html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block header .col1,
              html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block header .col2,
              html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block header .col3 {
                color: #fafafa; }
            html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block ul li a .col1,
            html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block ul li a .col2,
            html body #layout_container #main #grid #content #forum-wrap #forums-block-wrapper .forums-block ul li a .col3 {
              color: #fafafa; }
    html body #layout_container #main #grid .online-wrap header {
      border: 0 !important;
      font-size: 14px;
      color: white;
      background: none repeat scroll 0 0 #e67e22;
      padding: 10px;
      text-align: center;
      margin-bottom: 8px; }
    html body #layout_container #main #grid .online-wrap .online-list {
      padding: 10px;
      background-color: #555; }
      html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list {
        font-size: 11px;
        line-height: 14px; }
        html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li a {
          height: initial; }
          html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li a.hangszoro {
            float: left; }
          html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li a.hangszoro, html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li a.chatname {
            color: #fafafa; }
          html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li a.chatname {
            display: inline-block;
            width: calc(100% - 18px - 47px - 18px - 18px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        html body #layout_container #main #grid .online-wrap .online-list ul#forum-chat-user-list li .age {
          color: #fafafa; }
    html body #layout_container #main #grid #asidebar #neosidebar {
      position: initial;
      width: 100%;
      overflow-x: initial;
      background: transparent; }
      html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user {
        margin-bottom: 8px;
        border-top: 0; }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user .user-hello {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
          margin-bottom: 8px;
          background: none repeat scroll 0 0 #2c3e50;
          border: 0 important; }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user nav > a {
          background-color: #555;
          color: #fafafa; }
          html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user nav > a:hover {
            z-index: 99999;
            color: #fafafa;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
          html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user nav > a:after {
            content: "+";
            background: none;
            font-size: 12px;
            margin: 0;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            margin-top: -10px;
            background-color: #2980b9;
            border-radius: 10px;
            right: 5px;
            color: white; }
      html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites {
        margin: 0;
        margin-top: -16px;
        margin-bottom: 16px; }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites h4 {
          padding: 0;
          margin: 0 0 8px 0;
          border: 0;
          height: 60px; }
          html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites h4 #favorites-open-close-button #icon {
            margin: 0;
            border: 0;
            font-size: 14px;
            color: white;
            background: none repeat scroll 0 0 #9b59b6;
            padding: 10px;
            text-align: center;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
            html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites h4 #favorites-open-close-button #icon:after {
              float: initial;
              margin-right: 0;
              margin-left: 5px; }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites nav span > a {
          background-color: #555;
          color: #fafafa; }
          html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites nav span > a:hover {
            overflow-y: initial;
            z-index: 99999;
            color: #fafafa;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites nav a.category {
          border-top: 0;
          margin-top: 4px;
          color: #fafafa;
          background-color: #555; }
          html body #layout_container #main #grid #asidebar #neosidebar #sidebar-user-favorites nav a.category:first-child {
            margin-top: 0; }
      html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section header {
        border: 0;
        font-size: 14px;
        color: white;
        padding: 10px;
        text-align: center;
        margin-bottom: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
        html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section header #plus_minus_icon {
          display: none; }
      html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section:first-child header {
        background: none repeat scroll 0 0 #e74c3c; }
      html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section:last-child header {
        background: none repeat scroll 0 0 #16a085; }
      html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section ul {
        background-color: #555; }
        html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section ul li a {
          color: #fafafa; }
          html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section ul li a:hover {
            background-color: #555;
            color: #fafafa;
            z-index: 99999;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
          html body #layout_container #main #grid #asidebar #neosidebar .forum-topics-block section ul li a:after {
            display: none; }
      html body #layout_container #main #grid #asidebar #neosidebar #sidebar-birthday h4 {
        border: 0;
        font-size: 14px;
        color: white;
        background: none repeat scroll 0 0 #f1c40f;
        padding: 10px;
        text-align: center;
        margin-bottom: 8px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
        html body #layout_container #main #grid #asidebar #neosidebar #sidebar-birthday h4 #plus_minus_icon {
          display: none; }
      html body #layout_container #main #grid #asidebar #neosidebar #sidebar-birthday #birthday-wrap a {
        color: #fafafa;
        background-color: #555;
        border: 0 !important; }

/*# sourceMappingURL=material_dark.css.map */
