@charset "UTF-8";
/*
@import url(http://weloveiconfonts.com/api/?family=fontelico);
@import url(http://weloveiconfonts.com/api/?family=zocial);
*/
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
/*@import url('http://weloveiconfonts.com/api/?family=fontelico');*/

/*@import url('//font.nicdn.de/fontelico/css/fontelico.css');*/
/*
@font-face {
    font-family: 'fontelico';
    src: url('../lib/fonts/fontelico/fontelico.eot?7803838');
    src: url('../lib/fonts/fontelico/fontelico.eot?7803838#iefix') format('embedded-opentype'),
    url('../lib/fonts/fontelico/fontelico.woff?7803838') format('woff'),
    url('../lib/fonts/fontelico/fontelico.ttf?7803838') format('truetype'),
    url('../lib/fonts/fontelico/fontelico.svg?7803838#fontelico') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'fontelico';
    font-style: normal;
    font-weight: normal;
    src: url('//sg.hu/chat/sgchat/lib/fonts/fontelico/fontelico.eot');
    src: url('//sg.hu/chat/sgchat/lib/fonts/fontelico/fontelico.eot?#iefix') format('eot'),
    url('//sg.hu/chat/sgchat/lib/fonts/fontelico/fontelico.woff') format('woff'),
    url('//sg.hu/chat/sgchat/lib/fonts/fontelico/fontelico.ttf') format('truetype'),
    url('//sg.hu/chat/sgchat/lib/fonts/fontelico/fontelico.svg#fontelico') format('svg');
}
.fontelico-emo-happy:before{content:'\e800'}.fontelico-emo-wink:before{content:'\e801'}.fontelico-emo-wink2:before{content:'\e813'}.fontelico-emo-unhappy:before{content:'\e802'}.fontelico-emo-sleep:before{content:'\e803'}.fontelico-emo-thumbsup:before{content:'\e804'}.fontelico-emo-devil:before{content:'\e805'}.fontelico-emo-surprised:before{content:'\e806'}.fontelico-emo-tongue:before{content:'\e807'}.fontelico-emo-coffee:before{content:'\e808'}.fontelico-emo-sunglasses:before{content:'\e809'}.fontelico-emo-displeased:before{content:'\e80a'}.fontelico-emo-beer:before{content:'\e80b'}.fontelico-emo-grin:before{content:'\e80c'}.fontelico-emo-angry:before{content:'\e80d'}.fontelico-emo-saint:before{content:'\e80e'}.fontelico-emo-cry:before{content:'\e80f'}.fontelico-emo-shoot:before{content:'\e810'}.fontelico-emo-squint:before{content:'\e811'}.fontelico-emo-laugh:before{content:'\e812'}.fontelico-spin1:before{content:'\e830'}.fontelico-spin2:before{content:'\e831'}.fontelico-spin3:before{content:'\e832'}.fontelico-spin4:before{content:'\e834'}.fontelico-spin5:before{content:'\e838'}.fontelico-spin6:before{content:'\e839'}.fontelico-firefox:before{content:'\e840'}.fontelico-chrome:before{content:'\e841'}.fontelico-opera:before{content:'\e842'}.fontelico-ie:before{content:'\e843'}

@keyframes hearth-pop {
    0%  {transform: scale(1);}
    25%  {transform: scale(1.1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.3);}
    100%  {transform: scale(1);}
}

@-webkit-keyframes hearth-pop {
    0%  {transform: scale(1);}
    25%  {transform: scale(1.1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.3);}
    100%  {transform: scale(1);}
}

@-moz-keyframes hearth-pop {
    0%  {-moz-transform: scale(1);}
    25%  {-moz-transform: scale(1.1);}
    50%  {-moz-transform: scale(1);}
    75%  {-moz-transform: scale(1.3);}
    100%  {-moz-transform: scale(1);}
}

@keyframes brb {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@-webkit-keyframes brb {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

@-moz-keyframes brb {
    from { -moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(360deg);}
}

/*
 * jelenleg nem kell
 *
@font-face {
  font-family: 'zocial';
  font-style: normal;
  font-weight: normal;
  src: url('../lib/fonts/zocial/zocial-regular-webfont.eot');
  src: url('../lib/fonts/zocial/zocial-regular-webfont.eot?#iefix') format('eot'), 
  url('../lib/fonts/zocial/zocial-regular-webfont.woff') format('woff'), 
  url('../lib/fonts/zocial/zocial-regular-webfont.ttf') format('truetype'), 
  url('../lib/fonts/zocial/zocial-regular-webfont.svg#zocialregular') format('svg');
}
*/

.smiley{
	color: lightsalmon;
    background-image: none;
    font-family: "fontelico", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

.hearth,
.coffee,
.gamepad,
.paw,
.tel,
.android,
.apple{
    font-family: "FontAwesome", sans-serif !important;
}

.hearth{
    color: red;
    -moz-animation: hearth-pop 1s linear 0s infinite;
    -webkit-animation: hearth-pop 1s infinite;
    animation: hearth-pop 1s infinite;
}


.android{
	/*
    background-image: none !important;
    font-family: 'zocial', sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    */
    color: #A4C639;
}
/*
 * classic apple logo gradient color trick
 * ff így járt... :\
 */
.apple{
    background: #65b849;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(#65b849,0.17),color-stop(#f7b423,0.17),color-stop(#f7b423,0.34),color-stop(#f58122,0.34),color-stop(#f58122,0.5),color-stop(#de3a3c,0.5),color-stop(#de3a3c,0.66),color-stop(#943f96,0.66),color-stop(#943f96,0.82),color-stop(#009fd9,0.82),color-stop(#009fd9,0.86));
    background: -webkit-linear-gradient(#65b849 17%, #f7b423 17%, #f7b423 34%, #f58122 34%, #f58122 50%, #de3a3c 50%, #de3a3c 66%, #943f96 66%, #943f96 82%, #009fd9 82%, #009fd9 86%);
    background: -moz-linear-gradient(#65b849 17%, #f7b423 17%, #f7b423 34%, #f58122 34%, #f58122 50%, #de3a3c 50%, #de3a3c 66%, #943f96 66%, #943f96 82%, #009fd9 82%, #009fd9 86%);
    background: -o-linear-gradient(#65b849 17%, #f7b423 17%, #f7b423 34%, #f58122 34%, #f58122 50%, #de3a3c 50%, #de3a3c 66%, #943f96 66%, #943f96 82%, #009fd9 82%, #009fd9 86%);
    background: linear-gradient(#65b849 17%, #f7b423 17%, #f7b423 34%, #f58122 34%, #f58122 50%, #de3a3c 50%, #de3a3c 66%, #943f96 66%, #943f96 82%, #009fd9 82%, #009fd9 86%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.brb{
	animation: brb 1s infinite;
    -webkit-animation: brb 1s infinite;
    -moz-animation: brb 1s infinite 0 infinite;
}

.like {
    background-image: url(../images/like.png);
}

.hearth:before{
    content: "\f004";
}

.smile:before{
    content: '\e800';
}

.sad:before{
    content: '\e802';
}

.laugh:before{
	content: '\e80c';
}

.cool:before{
	content: '\e809';
}

.wink:before{
	content: '\e801';
}

.surprised:before{
	content: '\e806';
}

.cry:before{
	content: '\e80f';
}

.sleep:before{
	content: '\e803';
}

.tongue:before{
	content: '\e807';
}

.angel:before{
	content: '\e80e';
}

.displeased:before{
	content: '\e80a';
}

.smile2:before{
  content: '\e808';
}

.angry:before{
	content: '\e80d';
}

.brb:before,
.afk:before{
	content: '\e834';
}

.android:before{
	/*
	content: "&";
	*/
	content: "\f17b";
}

.apple:before{
    content: "\f179";
}

.coffee:before{
    content: "\f0f4";
}

.gamepad:before{
    content: "\f11b";
}

.paw:before {
    content: "\f1b0";
}

.tel:before{
    content: "\f095";
}
