body{
	padding: 0;
	margin: 0;
	position: relative;
}

#menu_container{
	position: fixed;
	top: 0;
	width: 145px;
	height: 100%;
	background-color: #f0f0f0;
	transition: left linear .5s;
	overflow: hidden;
}

#content{
	width: 950px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 20px 0;
}

#custom_code_container{
	overflow: hidden;
}

#info{
	overflow: hidden;
	background: #f0f0f0;
	margin-bottom: 10px;
}

.designmaker_container{
	padding: 5px;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: white;
	text-align: left;
	height: 100%;
	width: 165px;
	overflow-y: scroll;
}

.js_container{
	margin-top: 10px;
}

.css_container,
.js_container{
	background-color: #f0f0f0;
}

#info p{
	padding: 0 10px;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	color: #010101 !important;
	text-align: left;
}

.css_container p,
.js_container p{
	padding: 10px 10px 0 10px;
	margin: 0;
	font-size: 12px;
	line-height: 14px;
	color: #010101 !important;
	text-align: left;
}

#info p:last-child,
.css_container p:last-child,
.js_container p:last-child{
	padding-bottom: 10px;
}

.css_container a{
	text-decoration: none;
	color: #010101 !important;
}

.cont_header{
	padding: 10px;
	font-size: 20px;
	color: #010101 !important;
	text-align: left;
	border-top: 4px solid #1eb8e4;
	background-color: white;
}

.tab{
	display: block;
	margin-left: 20px;
	white-space: pre;
}

.tab-head{
	text-align: center;
	margin: 10px 0 5px 0;
	border-top: 2px solid #1eb8e4;
	background-color: #fff;
	color: #1eb8e4;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 22px;
	font-weight: bold;
	cursor: pointer;
	width: 135px;
}

.sub-tab{
	text-align: center;
	margin: 0 0 5px 0;
	background-color: #fff;
	color: #1eb8e4;
	text-transform: uppercase;
	font-size: 10px;
	line-height: 22px;
	font-weight: bold;
}

.main_title{
	color: #1eb8e4;
	font-size: 19px;
	text-align: center;
	padding: 10px 0 5px 0;
	width: 135px;
}

.hide{
	display: none;
}

.show{
	display: inline-block;
}

.hide_custom_menu{
	left: -145px;
}

.show_custom_menu{
	left: 0px;
}

.hide_custom_info,
.hide_custom_code{
	transition: max-height ease-out 1s;
	max-height: 0;
}

.show_custom_info,
.show_custom_code{
	transition: max-height ease-in 1s;
	max-height: 10000px;
}

.set-clear{
	min-width: 22px;
	padding: 1px 6px 1px 5px;
	background-color: #fff;
	margin: 0;
	border: 0;
	height: 22px;
	font-weight: bold;
	color: #1eb8e4;
	font-size: 13px;
	line-height: 11px;
}

.designmaker_container input[type=text]{
	height: 16px;
	width: 103px;
	margin: 0 0 3px 0;
	background-color: #fafafa;
	padding: 3px 5px;
	border: 0;
	color: #999;
	font-size: 11px;
}
.designmaker_container select{
	height: 22px;
	width: 113px;
	margin: 0 0 3px 0;
	background-color: #fafafa;
	border: 0;
	color: #999;
	font-size: 11px;
}


input:disabled, textarea:disabled {
	background-color: rgb(205, 205, 205);
}

.extra-btn{
	height: 21px;
	width: 100%;
	margin: 0 0 7px 0;
	background-color: #fafafa;
	padding: 5px;
	border: 0;
	color: #999;
	font-size: 11px;
	line-height: 1px;
	border-top: 2px solid transparent;
}

.separator{
	height: 1px;
	width: 100%;
	background-color: #1eb8e4;
	margin: 2px auto 5px auto;
	opacity: .5;
}

#hover_smallButton{
	margin: 0 0 5px 0;
}
.extra-btn:hover{
	border-top: 2px solid #1eb8e4;
}

.button-on{
	border-top: 2px solid #1eb8e4;
}

.extra-btn.button-on:hover{
	border-top: 2px solid transparent;
}