/*
sgkék
#1DA2C8 | rgba(29, 162, 200, 1)
*/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html, body {
    font-size: 1em;
}

html {
    background-color: #dadada !important;
    background-position: center 5px;
    background-attachment: fixed;
}

body {
    background-color: transparent !important;
    background-position: center 5px;
    background-attachment: fixed;
    color: #444;
    font-family: Verdana, sans-serif;
    position: absolute;
    right: 0;
    width: 100%;
    overflow: auto;
    min-height: 100%;
    scrollbar-face-color: #000000;
    scrollbar-shadow-color: #2D2C4D;
    scrollbar-highlight-color: #7D7E94;
    scrollbar-3dlight-color: #7D7E94;
    scrollbar-darkshadow-color: #2D2C4D;
    scrollbar-track-color: #7D7E94;
    scrollbar-arrow-color: #C1C1D1;
}

* {
    outline: 0 !important;
    font-family: Verdana, sans-serif;
}

#forum-chat,
.online-wrap {
    display: none !important;
}

.video-js {
  vertical-align: top !important;
}

.burning {
    font-weight: bold;
    color: #fff !important;
}

.msg {
    vertical-align: top;
    word-break: break-all;
}

.msg iframe {
    height: 115px !important;
    vertical-align: text-top;
}

.msg iframe.coub {
    width: 346px !important;
}

.msg iframe.coub,
.msg iframe.ytiframe,
.msg iframe.vmiframe {
    width: 476px !important;
    height: 267px !important;
    vertical-align: text-top;
    margin-top: 5px;
    margin-bottom: 2px;
}

.coub__viewer .viewer__img {
    margin: 0 !important;
}

.msg img {
    max-width: 200px;
    max-height: 120px;
    vertical-align: text-top;
}

.barrelroll {
    -webkit-animation: barrelroll 2s;
    animation: barrelroll 2s;
}

.afkk {
    text-decoration: line-through;
    font-style: italic !important;
    color: #999 !important;
    text-shadow: none !important;
}

.grayscale {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(/custom_css/grayscale.svg);
    filter: gray;
}

.invert {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#content, #jsg-utolso-regisztraltak, #forum-chat, .main-window, #forum-chat-input, .jsg-csetname-old {
    -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
    transition: width 1s, height 1s, background-color 1s, transform 1s;
    -moz-transition: width 1s, height 1s, background-color 1s, transform 1s;
    -o-transition: width 1s, height 1s, background-color 1s, transform 1s;
}

.link-block-smedium a, .link-block-smedium > div {
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 8px;
}

.gender_n {
    color: #cc0099;
}

.jspVerticalBar {
    width: 10px !important;
}

.jspDrag {
    background: none repeat scroll 0 0 #1da2c8 !important;
}

/*
    reklám
*/
#bg_url {
    display: none !important;
}

.adbg {
    background: none;
    padding: 0;
}

/*
    /reklám
*/

a:hover {
    text-decoration: none;
}

.chat_prev_img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    padding: 10px;
}

.chat_prev_title {
    font-weight: 700;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.chat_prev_desc {
    padding: 10px;
    line-height: 16px;
}

.preview_img {
    max-width: 250px;
    max-height: 250px;
}

#neosidebar {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 222px;
    overflow-x: hidden;
    background: #f0f0f0;
    font-weight: normal !important;
}

#sidebar-sg-community {
    display: none;
}

#birthday-wrap {
    height: auto;
}

.page-center {
    margin: 0 10px;
    font-family: "Lucida Console", sans-serif !important;
}

/*#header,*/
#menu-family,
#form-post,
#footer {
    display: none;
}

#header {
    margin-left: 222px;
    font-size: 0.8em;
}

#header-bottom, #menu-heading {
    height: 30px;
}

#menu-heading a {
    font-size: 1em;
    padding: 7px 0;
}

#search-top {
    margin: 3px 8px 0 0;
}

#search-top input[type="checkbox"] {
    display: block;
}

#search-top input[type="search"], #search-top input[type="search"]:focus {
    background-color: #666!important;
    color: #fff !important;
}

#forum-chat {
    width: 930px;
    height: auto;
    margin: 0;
    z-index: 0;
    text-align: left;
    padding: 5px 10px 10px;
    background: none;
    border-collapse: collapse;
}

#forum-block-wrapper-button {
    display: block;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    margin: 20px .6% -15px .6%;
    border: 1px solid #333;
}

#sgcset-header {
    width: 100%;
    /*background-color: rgba(29, 162, 200, .1);*/
}

#sgcset-header a.righthead  {
    float: right;
    font-size: 20px;
    padding: 0 15px 0 15px;
    background-color: rgba(255, 255, 255, .6);
    cursor: pointer;
    color: #1eb8e4;
}

#sgcset-header a.righthead:hover {
    background-color: #1eb8e4;
    color: #fff;
}

#sgcset-header a.lefthead  {
    cursor: pointer;
    color: #1eb8e4;
    text-decoration: underline;
}

#sgcset-header a.lefthead:hover {
    background-color: #1eb8e4;
    color: #fff;
}

.options,
.extras {
    /*display: none;*/
    background-color: rgba(29, 162, 200, .04);
    padding: 9px;
}

h3.title {
    color: #1eb8e4;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    border-bottom: 1px solid #1eb8e4;
}

h4.alt_title {
    color: #1eb8e4;
    padding: 10px 0;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

span.row {
    display: block;
    margin-top: 10px;
    color: #1DA2C8;
}

.easters,
.songs {
    padding-bottom: 10px;
}

.easters .row,
.songs .row {
    text-align: center;
}

.sp-replacer {
    margin-left: 3px !important;
}

.sp-preview {
    height: 12px !important;
}

.sp-dd {
    height: 12px !important;
    line-height: 13px !important;
}

.optionsButton {
    font-size: 12px;
    margin-left: 75px;
    width: 164px;
    height: 28px;
    display: inline-block;
    border: 1px solid rgba(29, 162, 200, .5);
    background-color: #f1f1f1;
    color: #1DA2C8;
    margin-top: 10px;
}

.optionsButton:hover {
    background-color: #1DA2C8;
    color: #000;
    border-color: #1DA2C8;
}

h2.sgneojonny {
    color: #1eb8e4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    display: inline-block;
    float: left;
    padding: 9px 0 9px 25px;
    line-height: 40px;
}

.pixxelh2 {
    color: #fff !important;
    font-weight: bold;
    text-shadow: rgb(254, 253, 200) 0 0 0.1em, rgb(254, 236, 134) 0.0227403680991153em -0.02em 0.15em, rgb(255, 174, 51) 0.0431892248175139em -0.04em 0.2em, rgb(239, 117, 11) 0.0986992126983819em -0.08em 0.25em, rgb(203, 68, 6) 0.186357970147938em -0.15em 0.3em, rgb(152, 54, 21) 0.250047841466772em -0.2em 0.4em, rgb(67, 26, 13) 0.569757964914258em -0.5em 0.5em;
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(29, 162, 200, .5);
    margin: 10px auto;
}

#eppenGepelnek {
    opacity: 0;
    margin: 5px 0 0 10px;
    display: inline-block;
    float: left;
    min-height: 26px;
    line-height: 26px;
}

.currents {
    margin: 5px 0 0 10px;
    width: 80%;
    display: inline-block;
    float: left;
    min-height: 26px;
}

.currents span {
    visibility: visible;
    font-size: 10px;
    display: inline-block;
    padding: 2px 4px;
    margin: 2px;
    min-width: 74px;
    text-decoration: none;
    border: 1px solid rgba(200, 200, 200, .4);
    text-align: center;

    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}

.currents span:hover {

}

.badge {
    background: linear-gradient(to bottom, #fc9f8a, #fa623f) repeat scroll 0 0 #fa623f;
    border-color: #fa5a35;
    border-radius: 1px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.08);
    color: white;
    display: inline;
    float: right;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0 3px;
    position: relative;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    top: 0;
    z-index: 10;
}

a.logs{
    position: relative;
}

a.logs .badge{
    left: 33px;
    position: absolute;
}

a.hangszoro,
a.hangszoro:hover,
a.hangszoro.kussolsz,
a.favorite,
a.chatStatus,
a.chatOpsystem,
.gods,
.mods,
.girls,
.retards,
.gays,
#chat_options a i,
#sgcset-header a i,
input[type="checkbox"] + i,
#smileyButton i,
#songButton i,
#gifButton i,
#spoilerButton i,
i.topic_szerk,
.player_btn,
#sgTopicFrameBtn i,
i.help,
.modal-close i,
#bbcodesButton i,
.changelogs span.c-row:before{
    background-image: none !important;
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

div.player_cont {
    display: inline-block;
    background-color: rgba(29, 162, 200, .1);
    border: 1px solid #1DA2C8;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 10px
}

.player_btn {
    color: #1da2c8;
    cursor: pointer;
}

.player_btn:before {
    content: "\f04b";
}

.player_btn.playing:before {
    content: "\f04d";
}

div.player_cont span.title {
    color: #1DA2C8;
    margin-left: 10px;
}

a.favorite:before {
    content: "\f005";
}

a.favorite.grayscale:before {
    content: "\f006";
}

a.favorite.grayscale:hover:before {
    content: "\f005";
}

a.hangszoro {
    display: inline-block;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

a.hangszoro:before {
    content: "\f028";
}

a.hangszoro:hover:before {
    /*content: "\f026";*/
    content: "\f028";
    color: #ff0000;
}

a.kussolsz:before {
    content: "\f028";
    color: #ff0000;
}

a.kussolsz:hover:before {
    content: "\f028";
}

.chatStatus, .chatOpsystem {
    display: inline-block;
    width: 18px;
    height: 17px;
    float: right;
    text-align: right;
}

.chatOpsystem.windows:before {
    content: "\f17a";
    color: #08AEEA;
}
.chatOpsystem.windows:hover:before {
    content: "\f17a";
    color: #08AEEA;
}
.chatOpsystem.phone:before {
    content: "\f10b";
    color: #333;
}
.chatOpsystem.phone:hover:before {
    content: "\f10b";
    color: #333;
}
.chatOpsystem.mac:before {
    content: "\f179";
    color: #A8B1B6;
}
.chatOpsystem.mac:hover:before {
    content: "\f179";
    color: #A8B1B6;
}
.chatOpsystem.linux:before {
    content: "\f17c";
    color: #000;
}
.chatOpsystem.linux:hover:before {
    content: "\f17c";
    color: #000;
}

.chatStatus:before {
    content: "\f007";
}

.chatStatus:hover:before {
    content: "\f007";
}

.chatStatus.chatStatusOnline, .isMod {
    color: #b9e860;
}
.chatStatus.chatStatusOffline, .isNotMod {
    color: #cc0000;
}
.chatStatus.chatStatusMobileApp {
    color: #7db4ff;
}

i.topic_szerk:before {
    content: "\f0ad";
}

.gods:before {
    content: "\f005";
}
/*
.gods:hover:before {
    content: "\f193";
}
*/

.mods:before {
    content: "\f1fa";
}

.girls:before {
    content: url(images/kataicon.png);
    /*
    content: "\f182";
    */
}
.retards:before {
    content: url(images/catericon.png);
}

.gays:before {
    content: "\f08a";
}

#sidebar-user-favorites #favorites-open-close-button #icon {
    text-align: center;
    width: 15px;
}

#sidebar-user header {
    background: none repeat scroll 0 0 #1eb8e4;
    color: white !important;
    display: block;
    font-size: 14px;
    font-weight: normal !important;
    padding: 10px !important;
}

#sidebar-user-favorites {
    margin-bottom: 20px;
    margin-top: -18px;
}

#sidebar-user a {
    background: none repeat scroll 0 0 #fafafa;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}

#sidebar-user-favorites a, .forum-topics-block a, #sidebar-sg-community a {
    height: 100%;
    line-height: 140%;
    padding: 5px 10px;
    font-size: 0.85em;
}

.forum-topics-block a {
    padding: 5px 25px 5px 10px;
}

#sidebar-user-favorites a.category {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #fff;
    border-color: #1eb8e4 -moz-use-text-color #eee;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 4px 0 1px;
    color: #1eb8e4;
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    padding: 6px 10px;
}

#sidebar-birthday #birthday-wrap {
    background: none repeat scroll 0 0 white;
    height: auto !important;
    margin-top: 0;
    padding-bottom: 10px;
    word-break: break-word;
}

#birthday-wrap {
    display: block;
    font-size: 0;
    text-align: center;
    visibility: hidden;
}

#birthday-wrap a {
    /* background: none repeat scroll 0 0 #fff; */
    border: 1px solid #1da2c8 !important;
    color: #000;
    display: inline-block;
    font-size: 10px;
    margin: 2px;
    min-width: 71px;
    padding: 2px 4px;
    visibility: visible;
}

#favorites-list {
    clear: both;
    display: block;
    margin-top: 0;
}

#sidebar-user-favorites .headers-medium, #sidebar-user-favorites .headers-medium #favorites-open-close-button {
    display: block;
    height: 40px;
    visibility: hidden;
}

#sidebar-user-favorites #favorites-open-close-button #icon:after {
    content: "Kedvenceim";
    display: inline-block;
    float: right;
    margin-right: 35px;
    text-transform: none;
}

#sidebar-user-favorites #favorites-open-close-button #icon {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    color: #444;
    display: block;
    font-size: 18px;
    font-weight: normal;
    margin: -14px -10px;
    padding: 10px;
    text-align: left;
    /*text-transform: uppercase;*/
    visibility: visible;
    width: auto !important;
}

.headers-medium {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #f0f0f0;
    color: #444;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 10px;
    text-align: center;
}

#forum-chat #forum-chat-error {
    background-color: rgba(10, 10, 10, 0.8);
    color: #fff;
    font-size: 30px;
    height: 349px;
    left: 1px;
    line-height: 40px;
    padding-top: 60px;
    position: relative;
    text-align: center;
    top: -443px;
    width: 675px;
    z-index: 1;
}

#forum-chat > .main-window {
    width: 705px;
    height: 410px;
    display: block;
    border: 1px solid #aaa;
    position: relative;
}

#forum-chat > .online-wrap {
    position: relative;
    width: 208px;
    height: 400px;
    border: 1px solid #aaa;
    padding: 5px;
}

#forum-chat > .online-wrap > .online-list {
    height: 400px;
    padding-bottom: 5px;
    display: block;
}

.online-list li {
    clear: both;
}

#forum-chat > .online-wrap > header {
    font-size: 12px;
    color: #000;
    height: 18px;
    margin-bottom: 5px;
    display: none;
}

#forum-chat .frame {
    width: 100%;
    height: calc(100% - 24px);
    overflow: auto;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    margin-top: 24px;
}

#forum-chat ul {
    padding: 3px 6px;
    display: table;
    table-layout: fixed;
}

#forum-chat li {
    font-size: 12px !important;
    line-height: 19px;
    word-wrap: break-word;
    font-family: Verdana, sans-serif !important;
    margin: 0;
    clear: both;
    display: table-row;
}

#forum-chat .perme time {
    visibility: hidden;
}

#forum-chat .perme .sender {
    text-align: right;
}

#forum-chat li .time,
#forum-chat li .sender,
#forum-chat li .kettospoint,
#forum-chat li .text {
    display: table-cell;
}

#forum-chat li .sender {
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    max-width: 70px;
}

#forum-chat li .text {
    padding-left: 5px;
    width: 100%;
    vertical-align: bottom;
}

#forum-chat li.new-person .time,
#forum-chat li.new-person .sender,
#forum-chat li.new-person .kettospoint,
#forum-chat li.new-person .text {
    padding-top: 3px;
}

#breadcrumb {
    padding-bottom: 0;
    padding-top: 0;
    font-size: 12px;
}

#modStatus {
    float: right;
    text-align: right;
    display: inline-block;
    min-height: 26px;
    line-height: 26px;
    margin-right: 10px;
    margin-top: 3px;
    font-weight: bold;
}

.isNotMod {
    cursor: pointer;
}

/*
#forum-chat .main-window li:hover,
#forum-chat .main-window li:nth-child(odd):hover,
*/
#jsg-lastusers tr:hover,
#forum-chat > .online-wrap li:hover {
    background: #010101;
    color: #fff;
    text-decoration: none;
}

#forum-chat .main-window li:nth-child(odd) {
    background-color: transparent;
}

#forum-chat .main-window li time {
    font-size: 10px;
    margin-right: 1px;
    margin-left: 3px;
    vertical-align: top;
}

#forum-chat .main-window li .sender {
    font-weight: 700;
    cursor: pointer;
    vertical-align: baseline;
}

#forum-chat .main-window li .sender:hover {
    text-decoration: none;
}

#forum-chat > .online-wrap ul {
    padding: 0;
}

#forum-chat > .online-wrap li {
    position: relative;
    padding: 2px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .7);
    border-collapse: collapse;
    border-image: none;
    border-radius: 0 !important;
    clear: both;
}


#inputs{
    width: 100%;
    margin-top: 5px;
}

#inputs #input_cont {

}

#inputs #input_cont input {
    margin-right: 5px;
    padding: 5px 7px 5px 8px;
    border: 1px solid #1da2c8;
    width: 690px;
    height: 16px;
}

#inputs #input_cont #forum-chat-send-message {
    font-size: 12px;
    padding: 5px;
    width: 56px;
    display: inline-block;
    border: 1px solid #1da2c8;
    background: none;
    color: #1DA2C8;
    font-weight: 500;
    border-radius: 0 !important;
    vertical-align: top;
    float: right;
}

#inputs #input_cont #forum-chat-send-message:hover {
    background: #1da2c8;
    color: #fff;
}

/* typeahead */

.tt-dropdown-menu{
    border: 1px solid #1da2c8;
    border-top: 0;
    padding: 0;
}

.tt-suggestion {
    padding: 5px 7px 5px 8px;
    margin: 0;
    cursor: pointer;
    background-color: rgba(29, 162, 200, .7);
}

.tt-suggestion p {
    margin: 5px 0;
}

.tt-suggestion.tt-cursor {
    background-color: #1da2c8;
    color: #ddd;
}

.tt-hint {
    opacity: .4 !important;
}

#vakbarat {
    position: absolute;
    top: 7px;
    right: 200px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + i {
    background-color: transparent;
    color: #C5C5C5;
    font-size: 16px;
    margin-left: 3px;
    cursor: pointer;
    width: 30px;
    height: 15px;
    display: inline-block;
    border: 1px solid #C5C5C5;
    border-radius: 10px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

input[type="checkbox"] + i:before {
    content: "\f111";
    font-size: 18px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

input[type="checkbox"]:checked + i:before {
    margin-left: 15px;
}

input[type="checkbox"]:checked + i {
    color: #00ff00;
    border-color: #00ff00;
}

/*
input[type="checkbox"] + i{
    color: #1da2c8;
    font-size: 16px;
    margin-left: 3px;
    cursor: pointer;
}


input[type="checkbox"] + i:before{
    content: "\f096";
}

input[type="checkbox"]:checked + i:before{
    content: "\f14a";
    -webkit-animation: checkbox-pop 180ms ease-in;
    animation: checkbox-pop 180ms ease-in;
}

input[type="checkbox"]:disabled + i:before{
    color: rgba(0,0,0,.3);
    content: "\f0c8";
}
*/

#chat_options a {
    color: #1DA2C8;
}

#forum-chat .main-window a {
    color: #1DA2C8;
}

.urlive-link {
    color: inherit;
    text-decoration: none;
    display: block;
    width: auto;
    overflow: auto;
    position: relative;
    padding: 10px;
    margin: 0;
    background: #EFEFEF;
}

.urlive-link:hover {
    box-shadow: 0 0 4px rgba(10, 10, 10, 0.6);
}

.urlive-link {
    display: block;
}

.urlive-image {
    width: 100%;
    display: block;
}

.urlive-title {
    font-size: 13px;
    font-weight: 700;
}

.urlive-url {
    font-size: 11px;
}

.urlive-description {
    font-size: 12px;
}

.urlive-sitename, .urlive-type {
    display: none;
}

.urlive-img-wrapper {
    float: left;
    margin-right: 10px;
}

.urlive-text-wrapper {
    overflow: auto;
}

.urlive-img-small .urlive-img-wrapper {
    width: auto;
    max-width: 100px;
}

.urlive-img-large .urlive-img-wrapper {
    width: 100%;
    max-width: none;
}

.urlive-img-large .urlive-text-wrapper {
    clear: both;
}

.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 280px;
    min-width: 50px;
    font-size: 10.5px;
    line-height: 12px;
    direction: ltr;
    box-shadow: none;
    padding: 0;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
}

.qtip-titlebar {
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border-width: 0 0 1px;
    font-weight: 700;
}

.qtip-titlebar + .qtip-content {
    border-top-width: 0 !important;
}

.qtip-close {
    position: absolute;
    right: -9px;
    top: -9px;
    z-index: 11;
    cursor: pointer;
    outline: medium none;
    border: 1px solid transparent;
}

.qtip-titlebar .qtip-close {
    right: 4px;
    top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}

.qtip-titlebar .ui-icon, .qtip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
    border-radius: 3px;
    text-decoration: none;
}

.qtip-icon .ui-icon {
    width: 18px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    text-indent: 0;
    font: normal bold 10px/13px Tahoma, sans-serif;
    color: inherit;
    background: transparent none no-repeat -100em -100em;
}

.qtip-default {
    border: 1px solid #F1D031;
    background-color: #FFFFA3;
    color: #555;
}

.qtip-default:empty {
    border: 0;
}

.qtip-default .qtip-titlebar {
    background-color: #FFEF93;
}

.qtip-default .qtip-icon {
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
    border-color: #AAA;
    color: #111;
}

.options_chat_label {
    display: inline-block;
    text-align: right;
    width: 200px;
    color: #1DA2C8;
    margin-right: 5px;
}

.extras_label {
    display: inline-block;
    text-align: right;
    width: 300px;
    color: #1DA2C8;
    margin-right: 10px;
}

.extras_desc {
    display: inline-block;
    text-align: left;
    color: #1DA2C8;
}

.options_chat_input {
    /*background-color: #f1f1f1 !important;*/
    border: 1px solid rgba(29, 162, 200, .5) !important;
    font-size: 12px;
    height: 13px !important;
    line-height: 13px !important;
    margin: 1px 0;
    padding: 2px 2px !important;
    width: 100px !important;
}

#forum-posts-list, .pagination, .ext_autopager_idicator {
    display: none !important;
}

#content {
    background-color: rgba(240, 240, 240, 0.9) !important;
    padding: 0 0 10px !important;
    border-top: 2px solid #1eb8e4;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, .08);
    -webkit-box-shadow: 4px 4px 0 rgba(0, 0, 0, .08);
    -moz-box-shadow: 4px 4px 0 rgba(0, 0, 0, .08);
    margin-left: 222px;
}

#topic-information {
    border: 0 !important;
    padding: 0 4px 4px;
}

input {
    background-color: transparent;
}

#chat_options {
    background-color: rgba(29, 162, 200, .08);
    border: 1px solid #1DA2C8;
    margin: 5px auto;
    overflow: hidden;
    padding: 5px 10px;
    width: 879px;
}

#chat_options a {
    font-size: 16px;
}

#sgcset-header a {
    line-height: 40px;
}

#chat_options a i:before,
#sgcset-header a.option i:before {
    content: "\f085";
}

#sgcset-header a.code i:before {
    content: "\f121";
}

#sgcset-header a.logs i:before {
    content: "\f0f6";
}

#sgcset-header a.openclose i:before {
    content: "\f065";
}

#sgcset-header a.twitch i:before {
    content: "\f1e8";
}

#sgcset-header a.bomb i:before {
    content: "\f1e2";
}

#sgcset-header a.bannedips i:before {
    content: "\f193";
}

#chat_options a:first-child {
    margin-bottom: 0;
    display: block;
    cursor: pointer;
    font-family: Verdana, sans-serif;
}

#chat_options a:first-child:hover {
    text-decoration: none;
}

.sg-bold {
    font-weight: bold;
    border-color: #666;
}

.sg-gold {
    font-weight: bold;
    color: rgba(0, 0, 100, 0.6);
    border-color: #666;
}

.sg-girl {
    font-weight: bold;
    color: rgba(100, 0, 100, 0.6);
    border-color: #666;
}

#forum-wrap {
    width: auto;
    float: none;
}
#forum-wrap .forums-block, #forum-wrap .articles-block {
    width: 630px;
    margin: 20px auto;
}

#forum-wrap .forums-list {
    background: none repeat scroll 0 0 transparent !important;
}

#forum-wrap .forums-block .col1 {
    width: 335px;
}

#forum-wrap .forums-block > .forums-list .col1, #forum-wrap .forums-block > .forums-list .col2, #forum-wrap .forums-block > .forums-list .col3, #forum-wrap .forums-block > .forums-list .col4 {
    height: 26px;
    line-height: 26px;
}

.col1, .col2, .col3, .col4 {
    font-size: 0.8em !important;
}

#forum-wrap .forums-block .col2 {
    width: 155px;
}

.sedo {
    box-shadow: 1px 1px 3px #999;
}

.unread {
    background: rgba(0, 0, 0, .05) !important;
}
.unread:first-of-type {
    border-top: 1px solid #ff0000 !important;
}

#forum-chat-list {
    float: left;
}

#forum-chat-list > .unread {
    border-top: 1px dashed #c30101;
}

#forum-chat-list > .unread ~ .unread {
    border: none;
}

#sgcset-lista {
    background: #f0f0f0;
    right: 0;
    top: 0;
    position: absolute;
    display: block;
    /*overflow-y: scroll;
    z-index: 100;*/
    width: 210px;
    overflow-y: scroll;
}

#sgcset-lista li {
    padding: 1px 7px;
    border-bottom-style: dotted;
    border-collapse: collapse;
    border-image: none;
    border-radius: 0 !important;
    border-width: 0 0 1px;
    clear: both;
    overflow: auto;
    font-size: 0.8em;
}

#sgcset-lista li:hover {
    background: #000;
}

#sgcset-lista header {
    color: #fff;
    text-align: center;
    background: #1eb8e4;
    display: block;
    font-size: 14px;
    font-weight: normal !important;
    padding: 10px !important;
    border: none;
}

.age {
    float: right;
}

#smileyButton,
#songButton,
#gifButton,
#spoilerButton,
#bbcodesButton{
    cursor: pointer;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
    line-height: 15px;
    width: 26px;
    text-align: center;
    border: 1px solid #1da2c8;
}

#songButton {
    border-left: 0;
    border-right: 0;
}
#spoilerButton {
    border-left: 0;
    border-right: 0;
}
#gifButton {
    border-left: 0;
}

#smileyButton i,
#songButton i,
#gifButton i,
#spoilerButton i,
#bbcodesButton i{
    opacity: .4;
}

#smileyButton:hover > i,
#songButton:hover > i,
#gifButton:hover > i,
#spoilerButton:hover > i,
#bbcodesButton:hover > i{
    opacity: 1;
}

#smileyButton i:before {
    content: "\f118";
}

#songButton i:before {
    content: "\f025";
}

#bbcodesButton i:before {
    content: "\f044";
}

#gifButton i:before {
    content: "\f1d0";
}

#spoilerButton i:before {
    content: "\f070";
}

#smileys,
#songs.fadeSongs,
#gifs {
    display: none;
    margin-top: 5px;
}

.paddingos {
    padding: 5px;
    cursor: pointer;
    max-height: 60px;
}

.easteregg {
    cursor: pointer;
    cursor: pointer;
    border: 1px solid #1eb8e4;
    padding: 5px 10px;
    margin-right: 6px;
    background-color: rgba(29, 162, 200, .1);
    display: inline-block;
    margin-bottom: 5px;
    width: 110px;
    text-align: center;
    box-sizing: border-box;
    font-size: 12px;
}

.easteregg:hover {
    background-color: rgba(29, 162, 200, .3);
}

i.help{
    font-size: 17px;
    margin-left: 5px;
    position: absolute;
}

i.help:before{
    content: "\f059";
}

.help-msg{
    opacity: 0;
    max-width: 200px;
    padding: 5px;
    border-radius: 5px;
    background-color: #1DA2C8;
    color: #ddd;
    margin: 0 5px 0 25px;
    position: absolute;
    box-shadow: 2px 2px 2px rgba(0,0,0,.3);
    z-index: 100;
    display: none;
}

i.help:hover + .help-msg{
    animation: fadein .5s;
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    opacity: 1;
    display: inline-table;
}

/*
*   KEYFRAMES
*/


@keyframes checkbox-pop {
    0% {
        transform: scale(0);
    }
    90% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes checkbox-pop {
    0% {
        -webkit-transform: scale(0);
    }
    90% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes barrelroll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes barrelroll {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
* nice scrollbar...
*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border: 0;
    background-color: rgba(0, 0, 0, .5);
    /*border-left: 1px solid rgba(255,255,255,.5);  */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, .5);
}

#sgTopicFrameBtn {
    width: 100%;
    background-color: #1eb8e4;
    text-align: center;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    display: none;
    margin: 0 auto;
}

#sgTopicFrameBtn.open {
    border-radius: 5px 5px 0 0;
}

#sgTopicFrameBtn i:before {
    content: "\f0d7";
}

#sgTopicFrameBtn.open i:before {
    content: "\f0d8";
}

#sgTopicFrame {
    width: 100%;
    min-height: 1400px;
    border: 0;
    border-top: 2px solid #1eb8e4;
    display: none;
    margin: 0 10px auto;
}

.modal-shade{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 20;
}

.modal-cont{
    display: none;
    position: absolute;
    min-width: 500px;
    max-width: 780px;
    max-height: 650px;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    -webit-transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
    overflow-y: auto;
    z-index: 30;
    margin-top: 100px;
}

.modal-close{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 35;
    font-size: 25px;
    color: #1eb8e4;
    cursor: pointer;
    opacity: .5;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.modal-close i:before{
    content: "\f057";
}

.modal-close:hover {
    opacity: 1;
    top: 10px;
    font-size: 28px;
}

.sp-input {
    font-size: 12px !important;
    border: 1px inset !important;
    padding: 4px 5px;
    margin: 0;
    width: 100% !important;
    background: 0 0;
    border-radius: 3px;
    color: #222;
    height: 24px !important;
}

#BBCodes{
    display: none;
    margin: 10px 0 0 10px;
    position: relative;
}

.font-menu-open{
    animation: fadein .5s;
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    opacity: 1 !important;
    display: inline-block !important;
}

#BBCodes ul.font-menu{
    display: none;
    opacity: 0;
    background-color: rgba(29, 162, 200, .5);
    position: absolute;
    top: 25px;
    left: 333px;
    list-style: none;
    padding: 0;
    border: 1px solid #1eb8e4;
}

#BBCodes ul li {
    border-bottom: 1px solid #1eb8e4;
    padding: 2px 10px;
    color: #1eb8e4;
    cursor: pointer;
}

#BBCodes ul li:last-child{
    border-bottom: none;
}

#BBCodes ul li:hover{
    background-color: rgba(29, 162, 200, .5);
    color: #fff;
}

.bbcs{
    border: 1px solid #1eb8e4;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 12px;
    cursor: pointer;
    background-color: rgba(29, 162, 200, .1);
    color: #1eb8e4;
}

.changelogs{
    width: 760px;
    padding: 10px;
    /*
    max-height: 480px;
    overflow-y: scroll;
    */
}

.changelogs ul {
    margin: 15px 0 0 0;
    padding: 0 !important;
    display: flex;
    flex-direction: column-reverse;
}

.changelogs ul li {
    list-style: none;
    background-color: rgba(29, 162, 200, .1);
    margin-bottom: 10px;
    /* display: none; */
}

/* csak uccsó öt megjelenítése
.changelogs ul li:nth-last-child(-n+5) {
    display: list-item;
}
*/
.changelogs ul li ul {
    margin: 0;
    display: block;
}

.changelogs ul li ul li {
    display: list-item;
    background-color: transparent;
    margin-bottom: 0;
}

.changelogs span.c-row:before {
    content: "\f0da";
    padding-right: 5px;
}

.changelogs h3.changes{
    padding: 5px;
    background-color: rgba(29, 162, 200, .1);
    border-bottom: 2px solid rgba(29, 162, 200, .2);
}

.changelogs h3 span.ver{
    font-weight: bold;
    font-size: 12px;
}

.changelogs h3 span.date{
    font-size: 10px;
    float: right;
}

.changelogs div.msg{
    padding: 5px 0 5px 15px;
}

#notify{
    display: none;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    z-index: 15;
    background-color: #fff8c4;
    border-bottom: 2px solid #f2c779;
    position: absolute;
    box-shadow: 0 3px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 3px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 3px rgba(0,0,0,.5);
}

#notify span {
    width: 90%;
    left: 50%;
    top: 5px;
    margin: 0 auto;
    transform: translate(-50%, 0);
    -webit-transform: translate(-50%, 0);
    color: #555;
    text-align: center;
}

.notifyButton{
    margin-left: 5px;
    border: 1px solid #1DA2C8;
    padding: 2px 5px;
    font-size: 11px;
    background-color: #fff;
    color: #1DA2C8;
}

.notifyButton:hover{
    background-color: #1DA2C8;
    color: #fff;
    opacity: 1;
}

.notifyButton.refresh{
    
}

.notifyButton.cancel{
    opacity: .5;
}

#plus_minus_icon{
    position: absolute;
    left: 10px;
    text-align: center;
    width: 15px;
}

.gif_block {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center center;
    margin: 10px;
    cursor:pointer;
}

.gif_block span {
    background-color: rgba(0,0,0,0.5);
    font-size: 8px;
    padding: 1px;
    margin: 3px;
}

.gif_tag {
    border: 1px solid;
    margin: 0 5px 5px 0;
    padding: 3px 5px;
    display: inline-block;
    cursor: pointer;
}
.gif_tag:hover {
    background-color: #126d85;
}

#gif_search {
    border: 1px solid #1da2c8;
    width: 200px;
    background-color: rgba(0,0,0,0.2) !important;
}

#currentThread {
    position: absolute;
    height: 16px;
    background: #ddd;
    width: 100%;
    top: 0px;
    z-index: 5;
    font-size: 12px;
    padding: 4px 0;
    cursor: pointer;
    border-bottom: 1px solid #999;
}

#threadName {
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    display: inline-block;
}

#threadInfo {
    float: right;
    margin-right: 10px;
    font-style: italic;
    display: inline-block;
}

#currentThread img {
    max-height: 16px;
}

.changelogs ul.normal {
    flex-direction: column !important;
}

.optionsText {
    width: 160px !important;
    border: 1px solid #bbb !important;
    color: #333;
    height: 12px !important;
    line-height: 12px !important;
    font-size: 12px;
    margin-left: 5px !important;
}

#options_twitch_button {
    margin-top: 0 !important;
}

#twitchPlayer {
    position: absolute;
    top: 20px;
    right: 8px;
}

.spoilerText {
    border: 1px solid;
    padding: 0 5px;
    cursor: pointer;
}
.spoilerText.spoilerTextBold {
    font-weight: bold;
}
.spoilerContent {
    display: none;
}
.spoilerContent.spoilerContentBlock {
    display: block;
    border: 1px solid;
    padding: 5px;
}

#forum-chat-user-list li .alert {
    padding: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

iframe, .video-js {
    display: table;
}

.xabresg {
    display: none;
}

#bmone2n-24996\.3\.2\.2,
#bmone2n-24996\.3\.5\.2,
#bmone2n-24996\.3\.10\.1,
#bmone2n-24996\.3\.11\.1 {
    display: none;
}

#layout_container,
.main-window {
    z-index: 5;
}

.macska-tuna {
    animation: walk-cycle 0.5s steps(13) infinite;
    background: url(https://sg.hu/chat/sgchat/macska/tuna_sprite.png) 400px 0 no-repeat;
    height: 200px;
    width: 400px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    margin-left: -200px;
    transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {
    0% {background-position: -1200px 0; }
    100% {background-position: -1200px -2590px; }
}

.macska-foreground, .macska-midground, .macska-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
translate3d(0,0,0);
}

.macska-foreground {
    animation: parallax_fg linear 5s infinite both;
    background:  url(https://sg.hu/chat/sgchat/macska/foreground_grass.png) 0 100% repeat-x;
    z-index: 3;
}

@keyframes parallax_fg {
    0% { background-position: -3584px 100%;}
    100% {background-position: 0 100%; }
}

.macska-midground {
    animation: parallax_mg linear 5s infinite;
    background:  url(https://sg.hu/chat/sgchat/macska/midground_grass.png) 0 100% repeat-x;
    z-index: 2;
}

@keyframes parallax_mg {
    0% { background-position: -3000px 100%;}
    100% {background-position: 0 100%; }
}

.macska-background {
    background-image:
            url(https://sg.hu/chat/sgchat/macska/background_mountain5.png),
            url(https://sg.hu/chat/sgchat/macska/background_mountain4.png),
            url(https://sg.hu/chat/sgchat/macska/background_mountain3.png),
            url(https://sg.hu/chat/sgchat/macska/background_mountain2.png),
            url(https://sg.hu/chat/sgchat/macska/background_mountain1.png);
    background-repeat: repeat-x;
    background-position: 0 100%;
    z-index: 1;
    animation: parallax_bg linear 5s infinite;
}

@keyframes parallax_bg {
    100% { background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;}
}

#macska {
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%),
    #d2d2d2 url(https://sg.hu/chat/sgchat/macska/background_clouds.png);
}

@-webkit-keyframes swinging {
    from {
        -webkit-transform:rotate(-15deg);
    }
    to {
        -webkit-transform:rotate(7deg);
    }
}
@-moz-keyframes swinging {
    from {
        -moz-transform:rotate(-15deg);
    }
    to {
        -moz-transform:rotate(7deg);
    }
}
@-o-keyframes swinging {
    from {
        -o-transform:rotate(-15deg);
    }
    to {
        -o-transform:rotate(7deg);
    }
}
@keyframes swinging {
    from {
        transform:rotate(-15deg);
    }
    to {
        transform:rotate(7deg);
    }
}
#chat-monster-crack {
    position: absolute;
    right: 23px;
    top: 23px;
}
#chat-monster {
    -webkit-animation:swinging 1s ease-in-out infinite alternate;
    -moz-animation:swinging 1s ease-in-out infinite alternate;
    -o-animation:swinging 1s ease-in-out infinite alternate;
    animation:swinging 1s ease-in-out infinite alternate;
    margin-left:10px;
    -webkit-transform-origin:90% 10px;
    -moz-transform-origin:75% -40px;
    -o-transform-origin:75% -40px;
    transform-origin:75% -40px;
    position: absolute;
    right: 16px;
    top: 50px;
    z-index: 30;
    cursor: crosshair;
}

#boo {
    cursor: pointer;
}

.boo {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: #1eb8e4;
    border-radius: 50% !important;
    border: 3px solid #fff;
    position: fixed;
    bottom: 0;
    right: 30px;
    z-index: 11;
}
.boo:before {
    content: '';
    display: block;
    height: 35px;
    position: absolute;
    background: #1eb8e4;
    top: 57px;
    left: -22px;
    width: 42px;
    border-radius: 7px 5px 0 40px !important;
    transform: rotate(45deg);
    border-top: 3px solid #fff;
}

.sg-text {
    color: #fff;
    position: fixed;
    bottom: 60px;
    right: 44px;
    font-size: 16px;
    z-index: 12;
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

.right-arm {
    margin: 0 auto;
    width: 60px;
    height: 35px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    background: #1eb8e4;
    border-radius: 35px 5px 35px 5px !important;;
    border: 2px solid #fff;
    transform: rotate(120deg);
    z-index: 10;
}

.left-eye:before, .right-eye:before {
    content: '';
    width: 35px;
    height: 25px;
    background: transparent;
    border-top: 3px solid black;
    border-radius: 50% !important;;
    position: absolute;
    top: -15px;
    right: -10px;
}
.left-eye:after, .right-eye:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #e5e5e5;
    border-radius: 50% !important;;
    left: 5px;
    top: 3px;
}

.left-eye {
    width: 15px;
    height: 20px;
    background: black;
    position: absolute;
    top: 57px;
    right: 67px;
    border-radius: 50% !important;;
}

.right-eye {
    width: 15px;
    height: 20px;
    background: black;
    position: absolute;
    top: 57px;
    right: 32px;
    border-radius: 50% !important;;
}

.mouth {
    width: 85px;
    height: 50px;
    border-radius: 10px 7px 35px 35px !important;;
    background: #350311;
    position: absolute;
    right: 15px;
    top: 100px;
    transform: rotate(-2deg);
    overflow: hidden;
}

.tooth {
    top: -1px;
    border-top: 8px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    position: absolute;
    transform: rotate(-2deg);
}

.onesc {
    right: 47px;
    border-top: 17px solid #fff;
}

.twosc {
    right: 35px;
}

.threesc {
    right: 22px;
}

.foursc {
    right: 10px;
    border-top: 17px solid #fff;
}

.boo-tongue {
    background: #FF85A8;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: -10px;
    left: -15px;
    border-radius: 50% !important;;
    transform: rotate(15deg);
}

.tail {
    margin: 0 auto;
    width: 75px;
    height: 32px;
    background: #1eb8e4;
    position: fixed;
    bottom: 10px;
    right: 155px;
    border: 2px solid #fff;
    border-radius: 10px 0 0 100px !important;;
    z-index: 10;
    transform: rotate(10deg);
}

.float {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
    from {
        -webkit-transform: translate(0, -30px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -30px);
    }
}

#snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

#candles {
    position:absolute;
    bottom: 0;
    right: 0;
}

.candle {
    position:relative;
    background: #f2f2f2;
    height:40px;
    width: 20px;
    float: left;
    margin: 0 12px;
    border-radius: 2px;
}
.candle.noFlame {
    height: 65px !important;
    margin-top: -25px !important;
}

.candle:first-child,
.candle:nth-child(3) {
    height: 60px;
    margin-top: -20px;
}

.candle:nth-child(4) {
    height: 50px;
    margin-top: -10px;
}

.candle.noFlame .flamegroup .flame {
    display: none;
}
.flamegroup {
    margin:0 auto;
    position:relative;
    top:-156px;
    width:120px;
    height:156px;
}

.flamegroup:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 7px;
    bottom: 0;
    left: 10px;
    background: #333;
}
.candle.noFlame .flamegroup:before {
    background: #ddd;
}

.flame {
    margin:0 auto;
    margin-left: -50px;
    position:absolute;
    width:100px;
    top: 25px;
    left: 10px;
    height:136px;
    background:url(http://wp.agens.no/smakebit/wp-content/themes/smakebiten/img/flamess.png) 0px 0px no-repeat;
}

.compact #forum-chat li.new-person .time,
.compact #forum-chat li.new-person .sender,
.compact #forum-chat li.new-person .kettospoint,
.compact #forum-chat li.new-person .text {
    padding-top: 1px;
    margin-top: 1px;
}

.compact #forum-chat li.unread.old-person .sender {
    color: transparent !important;
    visibility: visible;
}

.compact .new-person {
    border-top: 1px dotted rgba(0, 0, 0, .1);
}

.compact .old-person time,
.compact .old-person .sender {
    visibility: hidden;
}

.compact #forum-chat li {
    line-height: 16px;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    letter-spacing: 7px;
}

#fl1 {
    animation: flicker 1.3s steps(1) infinite;
    -webkit-animation: flicker 1.3s steps(1) infinite;
}
#fl2 {
    animation: flicker .7s steps(1) infinite;
    -webkit-animation: flicker .7s steps(1) infinite;
}
#fl3 {
    animation: flicker 1.1s steps(1) infinite;
    -webkit-animation: flicker 1.1s steps(1) infinite;
}

@keyframes flicker {
    0%,
    100%{background-position:0px 0px; opacity:.8 }
    25% {background-position:-100px 0px;}
    50% {background-position:-200px 0px;; opacity:.4;}
    75% {background-position:-100px 0px;}
}
@-webkit-keyframes flicker { /* flame pulses */
    0%,
    100%{background-position:0px 0px; opacity:.8 }
    25% {background-position:-100px 0px;}
    50% {background-position:-200px 0px;; opacity:.4;}
    75% {background-position:-100px 0px;}
}

.msg .video-js {
    font-size: 10px;
    color: #fff;
    width: 476px;
    height: 267px;
}

.msg .video-js .vjs-control-bar,
.msg .video-js .vjs-big-play-button,
.msg .video-js .vjs-menu-button .vjs-menu-content {
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, 0.7);
}

.msg .video-js .vjs-slider {
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
}

.msg .video-js .vjs-volume-level,
.msg .video-js .vjs-play-progress,
.msg .video-js .vjs-slider-bar {
    background: #fff;
}

.msg .video-js .vjs-load-progress {
    background: #bfc7d3;
    background: rgba(115, 133, 159, 0.5);
}

.msg .video-js .vjs-load-progress div {
    background: white;
    background: rgba(115, 133, 159, 0.75);
}

.emoji {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-bottom: -.25em;
    background-size: contain
}
