body {
    background-color: #F5F5F5;
    background-image: url(img/bg_green.jpg);
    background-position: left;
    background-repeat: repeat-y;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-family: verdana, arial, sans-serif;
    color: #545454;
    min-width: 800px;
}

#container {
    background-color: transparent;
    background-image: url(img/bg_green2.jpg);
    background-position: right;
    background-repeat: repeat-y;
    width: 100%;
    padding: 0;
    border: 0;
    margin: 0;
}

label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}

.submit input {
    margin-left: 4.5em;
}

input {
    color: #781351;
    background: #fee3ad;
    border: 1px solid #781351
}

.submit input {
    color: #000;
    background: #ffa20f;
    border: 2px outset #d7b9c9
}

fieldset {
    border: 1px solid #781351;
    width: 20em
}

legend {
    color: #fff;
    background: #ffa20c;
    border: 1px solid #781351;
    padding: 2px 6px
}

p a {
    font-weight: normal;
    outline: none;
}

p a:link, p a:visited {
    color: #333;
    text-decoration: underline;
}

p a:hover {
    color: #fff;
    text-decoration: none;
    background: #000;
}

p a:active {
    color: #000;
    text-decoration: underline;
}

code {
    font-family: 'andale mono', 'lucida console', 'courier new', monospace;
    font-size: 1em;
}

p {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 1.6em;
    margin: 1.5em 0 1.5em 0;
}

table {
    width: auto;
    padding: 0;
    margin: 20px auto 20px auto;
    border-left: 1px solid #71b68b;
    border-collapse: collapse;
    display: inline-table;
}

.cs1 {
    width: 30em;
}

.cs2 {
    width: 20em;
}

.cs1 td, .cs2 td, #scientificNotation {
    text-align: right;
}

caption {
    padding: 0 0 5px 0;
    margin: 0 auto;
    width: auto;
    font: italic 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 14px/22px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #71b68b;
    border-bottom: 1px solid #71b68b;
    border-top: 1px solid #71b68b;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 0;
    background: #bfe68d url(img/bg_header.jpg) no-repeat;
    vertical-align: middle;
}

th.menu a:hover, a:active {
    color: black;
    text-decoration: underline;
}

td.total {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #71b68b;
    background: none;
    text-align: right;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

th.sortable,
th.sortable-text,
th.sortable-date,
th.sortable-keep,
th.sortable-date-dmy,
th.sortable-numeric,
th.sortable-currency,
th.sortable-sortByTwelveHourTimestamp,
th.sortable-sortIPAddress,
th.sortable-sortEnglishLonghandDateFormat,
th.sortable-sortScientificNotation,
th.sortable-sortImage,
th.sortable-sortFileSize,
th.sortable-sortAlphaNumeric,
th.sortable-sortEnglishDateTime {
    cursor: pointer;
    background: #bfe68d url(img/bg_header_sortable.jpg) no-repeat;
    padding: 8px 12px 4px 16px;
}

th.forwardSort {
    background: #bfe68d url(img/bg_header_down.jpg) no-repeat 0 0;
}

th.reverseSort {
    background: #bfe68d url(img/bg_header_up.jpg) no-repeat 0 0;
}

table thead th.forwardSort a, table thead th.reverseSort a {
    color: #000;
    text-decoration: none;
}

th.sort-active {
    background: #bfe68d url(img/bg_header_sorting.jpg) no-repeat 0 0;
    cursor: wait;
}

th.sort-active a {
    color: #a80000 !important;
    cursor: wait;
}

th a {
    text-decoration: none;
    color: #4f6b72;
    background: transparent;
}

td a {
    text-decoration: none;
    color: #239;
    background: transparent;
}

td img {
    margin: 0 auto;
    border: 3px solid #ddd;
}

td a:hover {
    color: #a84444;
    border-bottom: 1px dotted #a80000;
    background: transparent;
}

td {
    font: normal 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    border-right: 1px solid #71b68b;
    border-bottom: 1px solid #71b68b;
    padding: 6px 12px 6px 12px;
    color: #4f6b72;
}

td.lft {
    text-align: left;
}

tr {
    background: #fff
}

tr.alt {
    background: #c4e5b7;
    color: #797268;
}

tr[class="alt"] td {
    background: #c4e5b7 url(img/td_alt.jpg) no-repeat;
}

td[class~="alt"] {
    background: #c4e5b7 url(img/col_alt.jpg) no-repeat !important;
}

/*
tbody tr.alt td:first-child {
  background: #c4e5b7 url(img/bullet2.jpg) no-repeat;
  font-weight:bold;
}

tbody tr td:first-child {
  background: #fff url(img/bullet1.gif) no-repeat;
  font-weight:bold;
}
*/

* html tr.alt td {
    background-color: #c4e5b7;
}

* html tr td.alt, * html tr.alt td.alt {
    background-color: #c4e5b7;
}

#banlist_textarea {
    height: 1000px;
}

#banlist_save {
    background: none;
    border: 0;
    height: 100%;
    width: 100%;
    padding: 8px 12px 4px;
    font-weight: bold;
    color: #333;
}

#banlist_save:hover {
    background: #99cc66;
    color: #fff;
    cursor: pointer;
}