/* hatter */
html {
    background: url("dark_bg.jpg") repeat-x fixed 0 0 rgba(0, 0, 0, 0.915) !important;
}

html {
    background-attachment: fixed !important;
}

body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/* altalanos cuccok */
input {
    background: none !important;
    color: #fdfdfd;
}
#sgcset-header a, #sidebar-user a, #sidebar-user-favorites a {
    background: none !important;
}
#breadcrumb, .headers-medium {
    color: #aaa;
}

/* sidebar */
#neosidebar {
    background: rgba(65, 65, 65, 0.75) !important;
    color: #ddd;
}
#sidebar-user a:hover, #sidebar-user-favorites a:hover {
    background: #000 !important;
}
.headers-medium, #sidebar-user-favorites #favorites-open-close-button #icon {
    background: rgba(29, 162, 200, 0.1) !important;
    border: none !important;
    color: #fff !important;
}
#sidebar-user header {
    background: rgba(29, 162, 200, 0.1);
}

/* chat resz */
#content {
    background: rgba(65, 65, 65, 0.75) !important;
    color: #ddd;
}
a.favorite,
#tema_karbantartasa a{
    color: #1eb8e4;
}
.unread {
    background: rgba(0,0,0,.25) !important;
}
.online-wrap li {
    border-bottom: 1px solid rgba(255,255,255,.1);
}
#sgcset-lista {
    background: rgba(65, 65, 65, 0.75) !important;
    color: #ddd !important;
}
#sgcset-lista header {
    background: none repeat scroll 0 0 rgba(29, 162, 200, 0.1);
    color: #fff;
    border-top: 2px solid #1eb8e4;
}
.gender_n {
    color: #ff99ff;
}

#forum-wrap .forums-block .col1, #forum-wrap .forums-block .col2, #forum-wrap .forums-block .col3, #forum-wrap .forums-block .col4 {
    color: #ddd;
}

/* mod cuccok */
.jsg-bannolt {
    color: #333;
}
.jsg-hekked-ban.jsg-cset-ban {
    color: #997722;
}
.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff3333;
}
#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #aaa;
}
.jsg-bannolt {
    background: rgba(229, 42, 40, 0.15);
    color: #ddd;
}
.jsg-athuzott {
    color: #997722;
}
#jsg-lastusers .jsg-lastusers-thead {
    background: rgba(29, 162, 200, 0.1);
    border-bottom: 1px solid #aaa;
}

#currentThread {
    background: #333 !important;
}

#birthday-wrap a {
    color: #fff;
}

.chatOpsystem.phone:before {
    color: #ddd;
}
.chatOpsystem.phone:hover:before {
    color: #ddd;
}
.chatOpsystem.linux:before {
    color: #fff;
}
.chatOpsystem.linux:hover:before {
    color: #fff;
}