/*

sgkék
#1DA2C8 | rgba(29, 162, 200, 1)

*/

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
    background-color: #dadada !important;
    background-position: center 5px;
    background-attachment: fixed;
    color: #444;
    font-family: Verdana, sans-serif;
    position: absolute;
    right: 0;
    width: 100%;
}

body * {
    outline: 0 !important;
    font-family: Verdana,sans-serif;
}

/*
    reklám
*/
#bg_url{
    display: none  !important;
}

.adbg{
    background: none;
    padding: 0;
}
/*
    /reklám
*/

a:hover{
    text-decoration: none;
}

.chat_prev_img {
    max-width: 100px;
    max-height: 100px;
    float: left;
    padding: 10px;
}

.chat_prev_title {
    font-weight: 700;
    padding: 10px;
    line-height: 20px;
    font-size: 13px;
}

.chat_prev_desc {
    padding: 10px;
    line-height: 16px;
}

.preview_img {
    max-width: 250px;
    max-height: 250px;
}

#neosidebar {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 320px;
    overflow-x: hidden;
    background: #f0f0f0;
}

#sidebar-sg-community, #sidebar-birthday {
    display: none;
}

.page-center {
    margin: 0 10px;
    font-family: Lucida Console,sans-serif !important;
}

#header,
#menu-family,
#form-post,
#footer {
    display: none;
}

a.icons {
    display: inline-block;
    height: 16px;
    width: 16px;
    float: right;
    margin: 0 9px 0 0;
    font-size: 12px;
    text-shadow: none;
    line-height: 16px;
}

a.grayscale{
    filter: none !important;
    -webkit-filter: none !important;
}

#forum-chat {
    width: 900px !important;
    height: 400px;
    margin: 0 0 0 10px;
    z-index: 0;
    text-align: left;
    padding: 10px 10px 40px;
    background: none;
}

#sgcset-header{
    width: 100%;
    background-color: pink;

}

#sgcset-header a{
    float: right;
    font-size: 24px;
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, .6);
    cursor: pointer;
    color:  #1eb8e4;
}

#sgcset-header a:hover{
    background-color:  #1eb8e4;
    color: #fff;
}

div.options{
    display: none;
    background-color: rgba(29, 162, 200, .04);
    padding: 10px;
}

h3.title{
    color: #1eb8e4;
    padding-bottom: 10px;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 16px;
    border-bottom: 1px solid #1eb8e4;
}

span.row{
    display: block;
    margin-top: 10px;
}

.sp-replacer{
    margin-left: 3px !important;
}

.sp-preview{
    height: 12px !important;
}

.sp-dd{
    height: 12px !important;
    line-height: 13px !important;
}

#options_save_button {
    font-size: 12px;
    margin-right: 15px;
    width: 164px;
    height: 28px;
    display: inline-block;
    border: 1px solid rgba(29, 162, 200, .5);
    background-color: #f1f1f1;
    color: #1DA2C8;
    float: right;
}

#options_save_button:hover {
    background-color: #1DA2C8;
    color: #fff;
    border-color: #1DA2C8;
}

h2.sgneojonny {
    color: #1eb8e4;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    display: inline-block;
    float: left;
    padding: 20px 0 20px 25px
}

.separator{
    width: 90%;
    height: 1px;
    background-color: rgba(29, 162, 200, .5);
    margin: 10px auto;
}

#eppenGepelnek {
    opacity: 0;
    margin: 5px 0 0 10px;
    display: inline-block;
    float: left;
    min-height: 26px;
    line-height: 26px;
}

.currents{
    margin: 5px 0 0 10px;
    width: 80%;
    display: inline-block;
    float: left;
    min-height: 26px;
}

.currents span{
    visibility: visible;
    font-size: 10px;
    display: inline-block;
    padding: 2px 4px;
    margin: 2px;
    min-width: 74px;
    text-decoration: none;
    border: 1px solid rgba(200, 200, 200, .4);
    text-align: center;

    -webkit-animation: fadein .5s;
       -moz-animation: fadein .5s;
        -ms-animation: fadein .5s;
         -o-animation: fadein .5s;
            animation: fadein .5s;
}

.currents span:hover{
    
}


a.hangszoro,
a.hangszoro:hover,
a.hangszoro.kussolsz,
a.favorite,
.gods,
.mods,
.girls,
.gays,
div#chat_options a i,
#sgcset-header a i,
input[type="checkbox"] + i,
.hearthpop,
.smile{
    background-image: none !important;
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
}

.hearthpop{
    color: red;
    -webkit-animation: hearth-pop 1s infinite;
    animation: hearth-pop 1s infinite;
}

.hearthpop:before{
    content: "\f004";
}

.smile{
    color: orange;
    -webkit-animation: smile 1s infinite;
    animation: smile 1s infinite;
}

.smile.up:before{
    content: "\f118";
}

.smile.down:before{
    content: "\f119";
}


a.favorite:before{
    content:"\f005";
}

a.favorite.grayscale:before{
    content:"\f006";
}

a.favorite.grayscale:hover:before{
    content:"\f005";   
}

a.hangszoro {
    display: inline-block;
    width: 18px;
    height: 17px;
    cursor: pointer;
}

a.hangszoro:before{
    content: "\f028";
}

a.hangszoro:hover:before{
    content:"\f026";
}

a.kussolsz:before{
    content:"\f026";
}

a.kussolsz:hover:before{
    content: "\f028";
}

.gods:before{
    content: "\f005";
}

.gods:hover:before{
    content: "\f193";
}

.mods:before{
    content: "\f1fa";
}

.girls:before{
    content: url(http://kocsog.eu/sgchat/kata.png);
    /*
    content: "\f182";
    */
}

.gays:before{
    content: "\f08a";
}

#forum-chat #forum-chat-error {
    width: 640px;
    height: 218px;
    padding-top: 60px;
    background-color: rgba(10, 10, 10, .8);
    position: relative;
    top: -268px;
    left: -10px;
    z-index: 1;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}

#forum-chat > .main-window {
    width: 675px;
    height: 410px;
    display: block;
    border: 1px solid #aaa;
}

#forum-chat > .online-wrap {
    position: relative;
    width: 23%;
    height: 400px;
    border: 1px solid #aaa;
    padding: 5px;
}

#forum-chat > .online-wrap > .online-list {
    height: 400px;
    padding-bottom: 5px;
    display: block;
}

#forum-chat > .online-wrap > header {
    font-size: 12px;
    color: #000;
    height: 18px;
    margin-bottom: 5px;
    display: none;
}

#forum-chat .frame {
    width: 100%;
    height: 100%;
    overflow: auto;
}

#forum-chat ul {
    padding: 3px 6px;
}

#forum-chat li {
    font-size: 12px !important;
    line-height: 19px;
    word-wrap: break-word;
    font-family: Verdana,sans-serif !important;
    margin: 0;
}

/*
#forum-chat .main-window li:hover,
#forum-chat .main-window li:nth-child(odd):hover,
*/
#jsg-lastusers tr:hover,
#forum-chat > .online-wrap li:hover {
    background: #010101;
    color: #fff;
    text-decoration: none;
}

#forum-chat .main-window li:nth-child(odd) {
   background-color: transparent;
}

#forum-chat .main-window li time {
    font-size: 10px;
    margin-right: 1px;
}

#forum-chat .main-window li .sender {
    font-weight: 700;
    cursor: pointer;
}

#forum-chat .main-window li .sender:hover {
    text-decoration: none;
}

#forum-chat > .online-wrap ul {
    padding: 0;
}

#forum-chat > .online-wrap li {
    position: relative;
    padding: 2px;
    line-height: 17px;
    border: 0;
    border-bottom: 1px solid rgba(255,255,255,.7);
    border-collapse: collapse;
    border-image: none;
    border-radius: 0 !important;
    clear: both;
}

#forum-chat > #forum-chat-input {
    margin: 5px 4px 0 0;
    padding: 5px 7px 5px 8px;
    border: 1px solid #1da2c8;
    width: 660px;
}

#forum-chat > #forum-chat-send-message {
    font-size: 12px;
    padding-top: 3px;
    width: 219px;
    height: 28px;
    display: inline-block;
    margin-top: -3px;
    border: 1px solid #1da2c8;
    background: none;
    color: #1DA2C8;
    font-weight: 500;
    border-radius: 0 !important;
}
#forum-chat > #forum-chat-send-message:hover {
    background: #1da2c8;
    color: #fff;
}

input[type="checkbox"]{
    display: none;
}

input[type="checkbox"] + i{
    color: #1da2c8;
    font-size: 16px;
    margin-left: 3px;
    cursor: pointer;
}

input[type="checkbox"] + i:before{
    content: "\f096";
}

input[type="checkbox"]:checked + i:before{
    content: "\f14a";
    -webkit-animation: checkbox-pop 180ms ease-in;
    animation: checkbox-pop 180ms ease-in;
}

input[type="checkbox"]:disabled + i:before{
    color: rgba(0,0,0,.3);
    content: "\f0c8";
}

#chat_options a {
    color: #1DA2C8;
}

#forum-chat .main-window a {
    color: #1DA2C8;
}

.urlive-link {
    color: inherit;
    text-decoration: none;
    display: block;
    width: auto;
    overflow: auto;
    position: relative;
    padding: 10px;
    margin: 0;
    background: #EFEFEF;
}

.urlive-link:hover {
    box-shadow: 0 0 4px rgba(10, 10, 10, 0.6);
}

.urlive-link * {
    display: block;
}

.urlive-image {
    width: 100%;
    display: block;
}

.urlive-title {
    font-size: 13px;
    font-weight: 700;
}

.urlive-url {
    font-size: 11px;
}

.urlive-description {
    font-size: 12px;
}

.urlive-sitename, .urlive-type {
    display: none;
}

.urlive-img-wrapper {
    float: left;
    margin-right: 10px;
}

.urlive-text-wrapper {
    overflow: auto;
}

.urlive-img-small .urlive-img-wrapper {
    width: auto;
    max-width: 100px;
}

.urlive-img-large .urlive-img-wrapper {
    width: 100%;
    max-width: none;
}

.urlive-img-large .urlive-text-wrapper {
    clear: both;
}

.qtip {
    position: absolute;
    left: -28000px;
    top: -28000px;
    display: none;
    max-width: 280px;
    min-width: 50px;
    font-size: 10.5px;
    line-height: 12px;
    direction: ltr;
    box-shadow: none;
    padding: 0;
}

.qtip-content {
    position: relative;
    padding: 5px 9px;
    overflow: hidden;
    text-align: left;
    word-wrap: break-word;
}

.qtip-titlebar {
    position: relative;
    padding: 5px 35px 5px 10px;
    overflow: hidden;
    border-width: 0 0 1px;
    font-weight: 700;
}

.qtip-titlebar + .qtip-content {
    border-top-width: 0 !important;
}

.qtip-close {
    position: absolute;
    right: -9px;
    top: -9px;
    z-index: 11;
    cursor: pointer;
    outline: medium none;
    border: 1px solid transparent;
}

.qtip-titlebar .qtip-close {
    right: 4px;
    top: 50%;
    margin-top: -9px;
}

* html .qtip-titlebar .qtip-close {
    top: 16px;
}

.qtip-titlebar .ui-icon, .qtip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
    direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon {
    border-radius: 3px;
    text-decoration: none;
}

.qtip-icon .ui-icon {
    width: 18px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    text-indent: 0;
    font: normal bold 10px/13px Tahoma, sans-serif;
    color: inherit;
    background: transparent none no-repeat -100em -100em;
}

.qtip-default {
    border: 1px solid #F1D031;
    background-color: #FFFFA3;
    color: #555;
}

.qtip-default .qtip-titlebar {
    background-color: #FFEF93;
}

.qtip-default .qtip-icon {
    border-color: #CCC;
    background: #F1F1F1;
    color: #777;
}

.qtip-default .qtip-titlebar .qtip-close {
    border-color: #AAA;
    color: #111;
}

.options_chat_label {
    display: inline-block;
    text-align: right;
    width: 180px;
    color: #1DA2C8;
}

.options_chat_input {
    background-color: #f1f1f1 !important;
    border: 1px solid rgba(29, 162, 200, .5) !important;
    font-size: 12px;
    height: 13px !important;
    line-height: 13px !important;
    margin: 1px 0;
    padding: 2px 2px !important;
    width: 100px !important;
}

#forum-posts-list {
    display: none;
}

#content {
    background-color: rgba(240, 240, 240, 0.9) !important;
    padding: 0 0 10px !important;
    border-top: 2px solid #1eb8e4;
    box-shadow: 4px 4px 0 rgba(0,0,0,.08);
    -webkit-box-shadow: 4px 4px 0 rgba(0,0,0,.08);
    -moz-box-shadow: 4px 4px 0 rgba(0,0,0,.08);
    margin-left: 325px;
}

#topic-information {
    padding: 4px !important;
    border: 0 !important;
}

input {
    background-color: transparent;
}

div#chat_options {
    background-color: rgba(29, 162, 200, .08);
    border: 1px solid #1DA2C8;
    margin: 5px auto;
    overflow: hidden;
    padding: 5px 10px;
    width: 879px;
}

div#chat_options a{
    font-size: 16px;
}

div#chat_options a i:before,
#sgcset-header a i:before{
    content: "\f085";
}

div#chat_options a:first-child {
    margin-bottom: 0;
    display: block;
    cursor: pointer;
    font-family: Verdana,sans-serif;
}

div#chat_options a:first-child:hover {
    text-decoration: none;
}

.sg-bold {
    font-weight: bold;
    border-color: #666;
}
.sg-gold {
    font-weight: bold;
    color: rgba(0, 0, 100, 0.6);
    border-color: #666;
}
.sg-girl {
    font-weight: bold;
    color: rgba(1000, 0, 100, 0.6);
    border-color: #666;
}

#jsg-utolso-regisztraltak {
    width: 900px;
    background: none repeat scroll 0 0 transparent !important;
    border: 1px solid #aaa;
    margin: 5px auto !important;
}

#jsg-utolso-regisztraltak ul {
    margin-bottom: 0;
}

#jsg-lastusers td {
    min-width: 150px !important;
    text-align: center;
    max-width: 290px !important;
}

#forum-wrap .forums-list {
    background: none repeat scroll 0 0 transparent !important;
}

.sedo {
    box-shadow: 1px 1px 3px #999;
}

.unread {
    background: rgba(0,0,0,.05) !important;
}

/*
*   KEYFRAMES
*/

@keyframes checkbox-pop {
    0%  {transform: scale(0);}
    90%  {transform: scale(1.4);}
    100%  {transform: scale(1);}
}

@-webkit-keyframes checkbox-pop {
    0%  {-webkit-transform: scale(0);}
    90%  {-webkit-transform: scale(1.4);}
    100%  {-webkit-transform: scale(1);}
}



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes hearth-pop {
    0%  {transform: scale(1);}
    25%  {transform: scale(1.1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.3);}
    100%  {transform: scale(1);}
}

@-webkit-keyframes hearth-pop {
    0%  {transform: scale(1);}
    25%  {transform: scale(1.1);}
    50%  {transform: scale(1);}
    75%  {transform: scale(1.3);}
    100%  {transform: scale(1);}
}


@keyframes smile {
    0%  {transform: rotate(0deg);}
    25%  {transform: rotate(-10deg);}
    50%  {transform: rotate(0deg);}
    75%  {transform: rotate(10deg);}
    100%  {transform: rotate(0deg);}
}

@-webkit-keyframes smile {
    0%  {transform: rotate(0deg);}
    25%  {transform: rotate(-10deg);}
    50%  {transform: rotate(0deg);}
    75%  {transform: rotate(10deg);}
    100%  {transform: rotate(0deg);}
}
