/* hatter */

html{
	background: #0b4249 !important; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #0b4249 0%, #010101 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#0b4249), color-stop(100%,#010101)) !important; /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #0b4249 0%,#010101 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #0b4249 0%,#010101 100%) !important; /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #0b4249 0%,#010101 100%) !important; /* IE10+ */
	background: radial-gradient(ellipse at center, #0b4249 0%,#010101 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4249', endColorstr='#010101',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}

html {
    background-attachment: fixed !important;
}

body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
}

/* altalanos cuccok */
input {
    background: none !important;
    color: #fdfdfd;
}
#sgcset-header a, #sidebar-user a, #sidebar-user-favorites a {
    background: none !important;
}
#breadcrumb, .headers-medium {
    color: #aaa;
}

.light-border-bottom {
	border-bottom: 0 !important;
}

/* sidebar */
#neosidebar {
    background: transparent !important;
    color: #ddd;
    border-right: 1px solid #1DA2C8;
}
#sidebar-user a:hover, #sidebar-user-favorites a:hover {
    background: #000 !important;
}
.headers-medium, #sidebar-user-favorites #favorites-open-close-button #icon {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #1DA2C8 !important;
    color: #fff !important;
}
#sidebar-user header {
    background: transparent;
    border-bottom: 1px solid #1DA2C8;
}

.link-blocks.one-line a{
	border: 0 !important;
}

/* chat resz */
#content {
    background: transparent !important;
    color: #ddd;
    box-shadow: initial;
	-webkit-box-shadow: initial;
	-moz-box-shadow: initial;
}
a.favorite,
#tema_karbantartasa a{
    color: #1eb8e4;
}
.unread {
    background: rgba(0,0,0,.45) !important;
}

#forum-chat > .online-wrap{
    border: 1px solid #1DA2C8 !important;
}

.online-wrap li {
    border-bottom: 1px solid rgba(255,255,255,.1);
}

#sgcset-lista {
    background: transparent !important;
    color: #ddd !important;
    border-left: 1px solid #1DA2C8 !important;
}
#sgcset-lista header {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    border-bottom: 1px solid #1DA2C8 !important;
    border-top: 2px solid #1DA2C8;
}

.gender_n {
    color: #ff99ff;
}

#forum-chat > .main-window{
	border: 0 !important;
	border-top: 1px solid #1DA2C8 !important;
	border-bottom: 1px solid #1DA2C8 !important;
}

#forum-chat > #forum-chat-input,
#forum-chat > #forum-chat-send-message{
	border: 0;
	border-bottom: 1px solid #1DA2C8 !important;
	border-top: 1px solid transparent !important;
}

/* mod cuccok */
.jsg-bannolt {
    color: #333;
}
.jsg-hekked-ban.jsg-cset-ban {
    color: #997722;
}
.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff3333;
}
#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #aaa;
}
.jsg-bannolt {
    background: rgba(229, 42, 40, 0.15);
    color: #ddd;
}
.jsg-athuzott {
    color: #997722;
}
#jsg-lastusers .jsg-lastusers-thead {
    background: rgba(29, 162, 200, 0.1);
    border-bottom: 1px solid #aaa;
}


::-webkit-scrollbar {  
    width: 6px !important;  
}  
::-webkit-scrollbar-track {
    background-color: rgba(29, 162, 200, .2) !important;  
}  
::-webkit-scrollbar-thumb {  
    background-color: rgba(29, 162, 200, .5) !important;
    border-radius: 0px !important;
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: rgba(29, 162, 200, 1) !important;  
}

#forum-wrap .forums-block .col1 {
    color: #fff;
}

#forum-wrap .forums-block .col1, #forum-wrap .forums-block .col2, #forum-wrap .forums-block .col3, #forum-wrap .forums-block .col4 {
    color: #ddd;
}

.article-block, .article-title, .more {
    color: #fdfdfd !important;
}

#sidebar-user-favorites a.category {
    border-bottom: 1px #1eb8e4 dashed !important;
}

#currentThread {
    background: #041618 !important;
    border-bottom: 1px solid #1DA2C8 !important;
}

#birthday-wrap a {
    color: #fff;
}

.chatOpsystem.phone:before {
    color: #ddd;
}
.chatOpsystem.phone:hover:before {
    color: #ddd;
}
.chatOpsystem.linux:before {
    color: #fff;
}
.chatOpsystem.linux:hover:before {
    color: #fff;
}