html{
	background: #1A1919 !important; /* Old browsers */
}

html {
    background-attachment: fixed !important;
}

body {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    filter: grayscale(20%);
    -webkit-filter: grayscale(20%);
    -moz-filter: grayscale(20%);
    overflow-y: visible;
    overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
}

#forums-block-wrapper header.blue-border-bottom {
    background-color: #111111 !important;
}

.player_cont {
    background-color: #111111 !important;
}

/* altalanos cuccok */
input {
    background: none !important;
    color: #fdfdfd;
}
#sgcset-header a, #sidebar-user a, #sidebar-user-favorites a {
    background: none !important;
}
#breadcrumb, .headers-medium {
    color: #aaa;
}

#forum-chat > .main-window {
    height: 510px;
}

.light-border-bottom {
	border-bottom: 0 !important;
}

/* sidebar */
#neosidebar {
    background: transparent !important;
    color: #ddd;
    /*border-right: 1px solid #1DA2C8;*/
}
#sidebar-user a:hover, #sidebar-user-favorites a:hover {
    background: #111111 !important;
}
.headers-medium, #sidebar-user-favorites #favorites-open-close-button #icon {
    background: transparent !important;
    border: none !important;
    border-bottom: 1px solid #1DA2C8 !important;
    color: #fff !important;
}
#sidebar-user header {
    background: transparent;
    border-bottom: 1px solid #1DA2C8;
}

.link-blocks.one-line a{
	border: 0 !important;
}

/* chat resz */
#content {
    background: transparent !important;
    color: #ddd;
    box-shadow: initial;
	-webkit-box-shadow: initial;
	-moz-box-shadow: initial;
}
a.favorite,
#tema_karbantartasa a{
    color: #1eb8e4;
}
.unread {
    background: rgba(0,0,0,.75) !important;
}

#forum-chat > .online-wrap {
    border: 1px solid #1DA2C8 !important;
}

.online-wrap li {
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
}

#forum-wrap > .blue-border-top {
    border-top: 1px solid #1eb8e4;
}

#sgcset-lista {
    background: transparent !important;
    color: #ddd !important;
    /*border-left: 1px solid #1DA2C8 !important;*/
}
#sgcset-lista header {
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    border-bottom: 1px solid #1DA2C8 !important;
    border-top: 2px solid #1DA2C8;
}

#sgcset-lista li {
    border-bottom-style: noe;
    border: 0;
}

#sgcset-lista li:hover {
    background-color: #111111 !important;
}

#header-bottom {
    display: none;
}

.gender_n {
    color: #ff99ff;
}

#forum-chat > .main-window{
	border: 0 !important;
	border-top: 1px solid #1DA2C8 !important;
	border-bottom: 1px solid #1DA2C8 !important;
}

#forum-chat > #forum-chat-input,
#forum-chat > #forum-chat-send-message{
	border: 0;
	border-bottom: 1px solid #1DA2C8 !important;
	border-top: 1px solid transparent !important;
}

#forum-chat-send-message,
#birthday-wrap a,
#forum-chat-input,
#bbcodesButton,
#gifButton,
#songButton,
#spoilerButton,
#smileyButton {
    background-color: #111111 !important;
}
#forum-chat-send-message:hover,
#birthday-wrap a:hover,
.player_cont:hover,
#forum-block-wrapper-button:hover,
#forum-chat-input:hover,
#forum-chat-input:focus,
#bbcodesButton:hover,
#gifButton:hover,
#spoilerButton:hover,
#songButton:hover,
#smileyButton:hover {
    background-color: #222 !important;
}

/* mod cuccok */
.jsg-bannolt {
    color: #333;
}
.jsg-hekked-ban.jsg-cset-ban {
    color: #997722;
}
.jsg-hekked-ban.jsg-cset-ban.jsg-vegleges-ban {
    color: #ff3333;
}
#jsg-lastusers .jsg-lastusers-thead {
    border-bottom: 1px solid #aaa;
}
.jsg-bannolt {
    background: rgba(229, 42, 40, 0.15);
    color: #ddd;
}
.jsg-athuzott {
    color: #997722;
}
#jsg-lastusers .jsg-lastusers-thead {
    background: rgba(29, 162, 200, 0.1);
    border-bottom: 1px solid #aaa;
}

.gray-plus-icon a:after, a.gray-plus-icon:after, .blue-plus-icon a:after, a.blue-plus-icon:after, .green-plus-icon a:after, a.green-plus-icon:after, .red-plus-icon a:after, a.red-plus-icon:after, .yellow-plus-icon a:after, a.yellow-plus-icon:after, .purple-plus-icon a:after, a.purple-plus-icon:after, .cyan-plus-icon a:after, a.cyan-plus-icon:after {
    background: none;
    width: 10px;
    height: 10px;
    font-weight: bold;
    content: "+";
    font-size: 1.2em;
    color: #fff;
}

#sidebar-user .blue-plus-icon a:after, #sidebar-user a.blue-plus-icon:after {
    margin-top: -15px;
}


::-webkit-scrollbar {  
    width: 6px !important;  
}

#forum-block-wrapper-button {
    background: #111111;
    border: 1px solid #1DA2C8;
    color: #1DA2C8;
}

#forum-wrap .forums-block .col1 {
    color: #fff;
}

#forum-wrap .forums-block .col1, #forum-wrap .forums-block .col2, #forum-wrap .forums-block .col3, #forum-wrap .forums-block .col4 {
    color: #ddd;
}

.article-block, .article-title, .more {
    color: #fdfdfd !important;
}

#sidebar-user-favorites a.category {
    border-bottom: 1px #1eb8e4 dashed !important;
}

#currentThread {
    background: #111111 !important;
    border-bottom: 1px solid #1DA2C8 !important;
}

.easteregg, .gif_tag, .bbcs {
    background-color: #111111;
}
.easteregg:hover, .gif_tag:hover, .bbcs:hover {
    background-color: #333;
}

#birthday-wrap a {
    color: #fff;
}

.chatOpsystem.phone:before {
    color: #ddd;
}
.chatOpsystem.phone:hover:before {
    color: #ddd;
}
.chatOpsystem.linux:before {
    color: #fff;
}
.chatOpsystem.linux:hover:before {
    color: #fff;
}