#header{
    margin-top: 40px;
    margin-left: 110px;
}

#sidebar-user .user-hello,
.forums-block,
.articles-block,
#neosidebar #sidebar-sg-new-galleries,
#neosidebar #sidebar-sg-community,
#neosidebar .sidebar-birthday,
#header-top{
    display: none;
}

#sidebar-user{
    text-align: right;
}

#sidebar-user a{
    display: inline-block;
    background: none;
    border: 0;
    padding: 0px 5px;
    font-size: 10px;
}

#sidebar-user a:last-child{
    padding-right: 10px;
}

#sidebar-user a:after{
    content: '';
    display: none;
}

#sgcset-lista{
    border-bottom: 1px solid #1DA2C8 !important;
    border-left: 1px solid #1DA2C8 !important;
    width: 200px;
}

#breadcrumb{
    padding-top: 0;
}

.online-list{
    overflow-y: auto
}

#neosidebar{
    position: absolute;
    left: initial;
    right: 0;
    /*top: calc(50% + 10px);*/
    height: calc(50% - 12px);
    width: 200px;
    border: 1px solid #1DA2C8;
    border-right: 0 !important;
}

#neosidebar #sidebar-user{
    display: none;
}

#content{
    border-top: 0;
    margin-left: 110px;
    /*
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    */
    box-shadow: initial;
    -webkit-box-shadow: initial;
}

.msg iframe.ytiframe, .msg iframe.vmiframe{
    margin-left: 200px;
}

#forum-chat > .main-window{
    height: 500px;
}

i.help.warning:before{
    color: red;
    content: "\f071";
}