.leagueInfoBox {
    border: 1px solid #333;
    width: 86px;
    vertical-align: top;
    float: right;
    background: url('images/bronze.png') no-repeat;
    font-family: Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-weight: bold;
    font-size: 12px;
    background-color: #DCF3FB !important;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.leagueInfoBox .win {
    text-align: right;
    float: right;
    color: #038004;
    margin: 5px 5px 0 0;
}
.leagueInfoBox .loss {
    text-align: right;
    clear: both;
    float: right;
    margin: 0 5px 0 0;
    color: #900;
}
.leagueInfoBox .reward {
    text-align: center;
    clear: both;
    padding-top: 10px;
    display: block;
    color: #333;
}
.leagueInfoBox .point {
    text-align: center;
    clear: both;
    display: block;
    color: #333;
}

/*
.Bronze {
    background: url('images/bronze.png') no-repeat;
}
.Silver {
    background: url('images/silver_border.png'), url('images/silver.png') no-repeat;
}
.Gold {
    background: url('images/gold_border.png'), url('images/gold.png') no-repeat;
}
.Platinum {
    background: url('images/platinum_border.png'), url('images/platinum.png') no-repeat;
}
.Diamond {
    background: url('images/diamond_border.png'), url('images/diamond.png') no-repeat;
}
*/
.Bronze {
    background: url('images/bronze.png') no-repeat;
}
.Silver {
    background: url('images/silver.png') no-repeat;
}
.Gold {
    background: url('images/gold.png') no-repeat;
}
.Platinum {
    background: url('images/platinum.png') no-repeat;
}
.Diamond {
    background: url('images/diamond.png') no-repeat;
}

.postWrapSilver {
    background: url('images/silver_top.png'), url('images/silver_bottom.png');
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding-top: 21px;
    padding-bottom: 1px;
    margin-bottom: 11px;
    margin-top: -12px;
}
.postWrapGold {
    background: url('images/gold_top.png'), url('images/gold_bottom.png');
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding-top: 27px;
    padding-bottom: 6px;
    margin-bottom: 9px;
    margin-top: -14px;
}
.postWrapPlatinum {
    background: url('images/platinum_top.png'), url('images/platinum_bottom.png');
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding-top: 29px;
    padding-bottom: 3px;
    margin-bottom: 13px;
    margin-top: -12px;
}
.postWrapDiamond {
    background: url('images/diamond_top.png'), url('images/diamond_bottom.png');
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: contain;
    padding-top: 27px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.postWrapSilver li.forum-post {
    margin-right: 1px;
    border-left: 4px solid #5C7273 !important;
    border-right: 4px solid #5C7273 !important;
    width: 919px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 4px;
}
.postWrapGold li.forum-post {
    border-left: 4px solid #c69f20 !important;
    border-right: 4px solid #c69f20 !important;
    margin-right: 1px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 917px;
}

.postWrapPlatinum li.forum-post {
    border-left: 3px solid #86A3BC !important;
    border-right: 3px solid #86A3BC !important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    width: 920px;
}
.postWrapPlatinum .header {
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.postWrapPlatinum .header img {
    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
}

.postWrapDiamond li.forum-post {
    border-left: 4px solid #4A9CB8 !important;
    border-right: 4px solid #4A9CB8 !important;
    width: 917px;
    margin-right: 3px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

a.summonerInfo {
    font-size: 12px;
    color: #fdfdfd;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    background-image: url('//sg.hu/chat/sglol/images/lol.png');
    background-repeat: no-repeat;
    padding-left: 15px;
    vertical-align: baseline;
    margin-left: 6px;
}
a.summonerInfo > span:hover {
    text-decoration: underline;
}

.footer {
    clear: both;
}

#forum-posts-list li {
    background-color: rgba(255, 252, 239, 1);
}

#sgLolBorder {
    border: 1px solid #333;
    padding: 2px 4px;
    margin: 10px;
    float: right;
}
.sgLolBorderClose:before {
    content: 'X ';
    color: #ff0000;
}
.sgLolBorderOpen:before {
    content: '+ ';
    color: #5BC250;
}

.post-answer.answers {
    padding: 0 !important;
    width: 900px !important;
}
.post-answer {
    width: 900px !important;
    margin-left: 3px !important;
}